<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/modals %>

    <% include ../partials/topnav %>

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

        <!-- HEADER -->
        <div class="header">
          <div class="container">
  
            <!-- Body -->
            <div class="header-body">
              <div class="row align-items-end">
                <div class="col">
                  
  
                  <!-- Title -->
                  <h1 class="header-title">
                    Dashboard - <%=username%>
                  </h1>
  
                </div>
                <div class="col-auto">
                  
                  <!-- Button -->
                  <a href="/property/new" class="btn btn-primary lift">
                    Add a property
                  </a>
  
                </div>
              </div> <!-- / .row -->
            </div> <!-- / .header-body -->
  
          </div>
        </div> <!-- / .header -->
        
        <!-- CARDS -->
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 col-xl">
              
              <!-- Card -->
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">
  
                      <!-- Title -->
                      <h6 class="card-title text-uppercase text-muted mb-2">
                        Portfolio Value
                      </h6>
                      
                      <!-- Heading -->
                      <span class="h2 mb-0">
                        £<%=Math.abs(portfolio_value).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                      </span>
  
                      <!-- Badge -->
                      <% if (badge_value != 0) { %>
                      <span class="badge badge-soft-<%=badge_value < 0 ? 'danger' : 'success'%> mt-n1">
                        <%=badge_value < 0 ? '-' : '+'%>£<%=Math.abs(badge_value).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                      </span>
                      <% } %>
                    </div>
                  </div> <!-- / .row -->
  
                </div>
              </div>
  
            </div>
            <div class="col-12 col-lg-6 col-xl">
              
              <!-- Card -->
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">
  
                      <!-- Title -->
                      <h6 class="card-title text-uppercase text-muted mb-2">
                        Rental income
                      </h6>
                      
                      <!-- Heading -->
                      <span class="h2 mb-0">
                        £<%=rental_income.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                      </span>
  
                    </div>
                  </div> <!-- / .row -->
  
                </div>
              </div>
                
            </div>
            <div class="col-12 col-lg-6 col-xl">
              
              <!-- Card -->
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">
  
                      <!-- Title -->
                      <h6 class="card-title text-uppercase text-muted mb-2">
                        Occupancy
                      </h6>
  
                      <div class="row align-items-center no-gutters">
                        <div class="col-auto">
  
                          <!-- Heading -->
                          <span class="h2 mr-2 mb-0">
                            <%=occupancy%>%
                          </span>
                          <!-- Badge -->
                          <% if (vacant_cnt) { %>
                          <span class="badge badge-soft-danger mt-n1">
                            <%=vacant_cnt%> Units Vacant
                          </span>
                          <% } %>
                        </div>
                        
                      </div> <!-- / .row -->
  
                    </div>
                  </div> <!-- / .row -->
  
                </div>
              </div>
                
            </div>
            <div class="col-12 col-lg-6 col-xl">
              
              <!-- Card -->
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">
  
                      <!-- Title -->
                      <h6 class="card-title text-uppercase text-muted mb-2">
                        Units
                      </h6>
                      
                      <!-- Heading -->
                      <span class="h2 mb-0">
                        <%=all_units.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                      </span>
  
                    </div>
                  </div> <!-- / .row -->
  
                </div>
              </div>
                
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col-12 col-xl-7">
              
              <!-- Orders -->
              <div class="card">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">
                  
                      <!-- Title -->
                      <h4 class="card-header-title">
                        Locations
                      </h4>
  
                    </div>
                  </div> <!-- / .row -->
  
                </div>
                <div class="card-body">
                  
                  <div class="embed-responsive embed-responsive-21by9 rounded">
                    <div class="embed-responsive-item" id="map" data-toggle="cmap" data-option='{"center": [-4.946224, 54.456967], "zoom": 4, "markers": <%=markers%>}'>
                      
                    </div>
                  </div>
  
                </div>
              </div>
  
            </div>
            <div class="col-12 col-xl-5">
  
              <!-- Devices -->
              <div class="card">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">
                  
                      <!-- Title -->
                      <h4 class="card-header-title">
                        Breakdown by Property
                      </h4>
  
                    </div>
                    <div class="col-auto">
  
                      <!-- Tabs -->
                      <ul class="nav nav-tabs nav-tabs-sm card-header-tabs">
                        <li class="nav-item">
                          <a href="#market" class="nav-link active" data-toggle="tab">
                            Value
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="#income" class="nav-link" data-toggle="tab">
                            Income
                          </a>
                        </li>
                      </ul>
  
                    </div>
                  </div> <!-- / .row -->
  
                </div>
                <div class="card-body">
                  
                  <!-- Chart -->
                  <div class="tab-content">
                    <div class="tab-pane fade active show" id="market" role="tabpanel">
                      <div class="chart chart-appended">
                        <canvas id="marketChart" class="chart-canvas" data-option='{"labels": <%=JSON.stringify(labels)%>, "dataset": [<%=market_data%>]}'></canvas>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="income" role="tabpanel">
                      <div class="chart chart-appended">
                        <canvas id="incomeChart" class="chart-canvas" data-option='{"labels": <%=JSON.stringify(labels)%>, "dataset": [<%=income_data%>]}'></canvas>
                      </div>
                    </div>
                  </div>
    
                </div>
              </div>
              
            </div>
          </div> <!-- / .row -->
      
            <div class="row">
              <div class="col-12">
              
                <!-- Goals -->
                <div class="card">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col mt-2 mb-2">
                      
                        <!-- Title -->
                        <h4 class="card-header-title">
                          Cash Flow
                        </h4>
  
                      </div>
                      <div class="col-auto mt-4 d-flex flex-wrap">
                      
                        <!-- Link -->
                        <!-- <input type="text" id="cashflowStartDate" class="form-control text-right mb-2 mr-5" style="width: 300px;">
                        <input type="text" id="cashflowEndDate" class="form-control mb02 text-right mr-5" style="width: 300px;"> -->
                        <div class="input-group input-group-merge">
                          <input type="text" id="cashflowStartDate" class="form-control form-control-prepended " placeholder="Input group prepended">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <span class="fe fe-calendar"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> <!-- / .row -->
                  </div>
                 <!--  <div class="table-responsive mb-0" data-toggle="lists" data-options='{"valueNames": ["tables-address", "tables-type", "tables-status", "tables-purchase-price", "tables-current-value", "tables-rental-income", "tables-rental-yield"]}'>
                    <table class="table table-sm table-nowrap card-table">
                      <thead>
                        <tr>
                          <th scope="col">
                            <a href="#" class="text-muted sort" data-sort="tables-address">Address</a>
                          </th>
                          <th scope="col">
                            <a href="#" class="text-muted sort" data-sort="tables-type">Type</a>
                          </th>
                          <th scope="col">
                            <a href="#" class="text-muted sort" data-sort="tables-status">Status</a>
                          </th>
                          <th scope="col">
                            <a href="#" class="text-muted sort" data-sort="tables-purchase-price">Purchase Price</a>
                          </th>
                          <th scope="col">
                            <a href="#" class="text-muted sort" data-sort="tables-current-value">Current Value</a>    
                          <th scope="col">
                            <a href="#" class="text-muted sort" data-sort="tables-rental-income">Rental Income</a>    
                          </th>
                          <th scope="col">
                              <a href="#" class="text-muted sort" data-sort="tables-rental-yield">Rental Yield</a>  
                          </th>
                        </tr>
                      </thead>
                      <tbody class="list">
                        <% properties.forEach(function(property){%>
                        <tr>

                          <th scope="row" class="tables-address">
                            <a href="/property/overview/<%=property.id%>">
                              <%=property.address%>, <%=property.city%>
                            </a>
                          </th>
                          <td class="tables-type">
                            <%=property.units == 1 ? 'Single Unit' : 'Multi Unit'%>
                          </td>
                          <td class="tables-status">
                            <span class="text-<%=property.status == 'Occupied' ? 'success' : 'danger'%> ">●</span> <%=property.status%>
                          </td>
                          <td class="tables-purchase-price">
                            <%=property.purchase_price ? '£'+property.purchase_price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') : ''%>
                          </td>
                          <td class="tables-current-value">
                            <%=property.current_value ? '£'+property.current_value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') : ''%>
                          </td>
                          <td class="tables-rental-income">
                            <%=property.rental_income ? '£'+(property.rental_income / 12).toFixed(2).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+'pcm' : ''%>
                          </td>
                          <td class="tables-rental-yield">
                            <h4>
                              <span class="badge badge-soft-<%=parseFloat(property.rental_yield) > 0 ? 'success' : 'danger'%>"><%=property.rental_yield.toFixed(2).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') %>%</span>
                            </h4>
                          </td>
                        </tr>
                        <% })%>
                      </tbody>
                    </table>
                  </div> -->
                  <div class="card-body">
                    <div id="cashflowChart" style="width:100%; height:400px;">
                    </div>
                  </div>
                </div>
    
          </div>
  
                </div> <!-- / .card-body -->
              </div> <!-- / .card -->           
          </div>
        
              </div> <!-- / .row -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- / .main-content -->


  <% include ../partials/scripts %>

  <script type="text/javascript">
    const drawCashFlowChart = (data) => {
      Highcharts.chart('cashflowChart', {
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        xAxis: {
          categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        credits: {
            enabled: false
        },
        series: [{
          showInLegend: false,  
          name: '',
          data: data
        }]
      });
    }
    const redrawChart = function(startDate='', endDate) {
      const token = $('input[name="_csrf"]').val();
      const data = {
        startDate,
        endDate
      }
      fetch('/dashboard/cash_flow', {
          credentials: 'same-origin', // <-- includes cookies in the request
          headers: {
              'CSRF-Token': token, 
              'Content-Type': 'application/json'
          },
          method: 'POST',
          body: JSON.stringify(data)
      })
      .then(res => res.json())
      .then(res => {
          if (res.status == 200) {
            drawCashFlowChart(res.data)
          }
      })
      .catch(err => {
          console.log(err);
      });
    }
    $(function(){
      const startDate = moment();
      const endDate = moment().startOf('day').add(132, 'day');
      $('#cashflowStartDate').daterangepicker({
        startDate,
        endDate,
      }, function(start, end, label) {
        redrawChart(start.format('YYYY-MM-DD'),  end.format('YYYY-MM-DD'))
      });
      
      redrawChart(startDate, endDate)
    })
  </script>
</body>
</html>