<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/modals %>

    <% include ../partials/topnav %>

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

        <!-- HEADER -->
        <div class="header">
          <div class="container">
  
            <!-- Body -->
            <div class="header-body">
              <div class="row align-items-end">
                <div class="col">
                  
  
                  <!-- Title -->
                  <h1 class="header-title">
                    Dashboard
                  </h1>
  
                </div>
                <div class="col-auto">
                  
                  <!-- Button -->
                  <a href="/property/new" class="btn btn-primary lift">
                    Add a property
                  </a>
  
                </div>
              </div> <!-- / .row -->
            </div> <!-- / .header-body -->
  
          </div>
        </div> <!-- / .header -->
        
        <!-- CARDS -->
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 col-xl">
              
              <!-- Card -->
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">
  
                      <!-- Title -->
                      <h6 class="card-title text-uppercase text-muted mb-2">
                        Portfolio Value
                      </h6>
                      
                      <!-- Heading -->
                      <span class="h2 mb-0">
                        £524,500
                      </span>
  
                      <!-- Badge -->
                      <span class="badge badge-soft-success mt-n1">
                        +£24,500
                      </span>
  
                    </div>
                  </div> <!-- / .row -->
  
                </div>
              </div>
  
            </div>
            <div class="col-12 col-lg-6 col-xl">
              
              <!-- Card -->
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">
  
                      <!-- Title -->
                      <h6 class="card-title text-uppercase text-muted mb-2">
                        Rental income
                      </h6>
                      
                      <!-- Heading -->
                      <span class="h2 mb-0">
                        £3,300
                      </span>
  
                    </div>
                  </div> <!-- / .row -->
  
                </div>
              </div>
                
            </div>
            <div class="col-12 col-lg-6 col-xl">
              
              <!-- Card -->
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">
  
                      <!-- Title -->
                      <h6 class="card-title text-uppercase text-muted mb-2">
                        Occupancy
                      </h6>
  
                      <div class="row align-items-center no-gutters">
                        <div class="col-auto">
  
                          <!-- Heading -->
                          <span class="h2 mr-2 mb-0">
                            84.5%
                          </span>
                          
                        </div>
                        
                      </div> <!-- / .row -->
  
                    </div>
                  </div> <!-- / .row -->
  
                </div>
              </div>
                
            </div>
            <div class="col-12 col-lg-6 col-xl">
              
              <!-- Card -->
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">
  
                      <!-- Title -->
                      <h6 class="card-title text-uppercase text-muted mb-2">
                        Units
                      </h6>
                      
                      <!-- Heading -->
                      <span class="h2 mb-0">
                        10
                      </span>
  
                    </div>
                  </div> <!-- / .row -->
  
                </div>
              </div>
                
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col-12 col-xl-8">
              
              <!-- Orders -->
              <div class="card">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">
                  
                      <!-- Title -->
                      <h4 class="card-header-title">
                        Locations
                      </h4>
  
                    </div>
                    
                    
                  </div> <!-- / .row -->
  
                </div>
                <div class="card-body">
                  
                  <div class="embed-responsive embed-responsive-21by9 rounded">
                    <div class="embed-responsive-item" id="map" data-toggle="map" data-options='{"center": [-118.244615, 34.052979], "zoom": 12}'>
                      
                    </div>
                  </div>
  
                </div>
              </div>
  
            </div>
            <div class="col-12 col-xl-4">
  
              <!-- Devices -->
              <div class="card">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">
                  
                      <!-- Title -->
                      <h4 class="card-header-title">
                        Breakdown by Property
                      </h4>
  
                    </div>
                    <div class="col-auto">
  
                      <!-- Tabs -->
                      <ul class="nav nav-tabs nav-tabs-sm card-header-tabs">
                        <li class="nav-item" data-toggle="chart" data-target="#devicesChart" data-update='{"data":{"datasets":[{"data":[60,25,15]}]}}'>
                          <a href="#" class="nav-link active" data-toggle="tab">
                            Value
                          </a>
                        </li>
                        <li class="nav-item" data-toggle="chart" data-target="#devicesChart" data-update='{"data":{"datasets":[{"data":[15,45,20]}]}}'>
                          <a href="#" class="nav-link" data-toggle="tab">
                            Income
                          </a>
                        </li>
                      </ul>
  
                    </div>
                  </div> <!-- / .row -->
  
                </div>
                <div class="card-body">
                  
                  <!-- Chart -->
                  <div class="chart chart-appended">
                    <canvas id="devicesChart" class="chart-canvas" data-toggle="legend" data-target="#devicesChartLegend"></canvas>
                  </div>
  
                  <!-- Legend -->
                  <div id="devicesChartLegend" class="chart-legend"></div>
  
                </div>
              </div>
              
            </div>
          </div> <!-- / .row -->
      
            <div class="row">
              <div class="col-12">
              
                <!-- Goals -->
                <div class="card">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col">
                      
                        <!-- Title -->
                        <h4 class="card-header-title">
                          Top performing properties
                        </h4>
  
                      </div>
                      <div class="col-auto">
                      
                        <!-- Link -->
                        <a href="#!" class="small">View all</a>
  
                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="table-responsive mb-0" data-toggle="lists" data-options='{"valueNames": ["tables-address", "tables-type", "tables-status", "tables-purchase-price", "tables-current-value", "tables-rental-income", "tables-rental-yield"]}'>
                    <table class="table table-sm table-nowrap card-table">
                      <thead>
                        <tr>
                          <th scope="col">
                            <a href="#" class="text-muted sort" data-sort="tables-address">Address</a>
                          </th>
                          <th scope="col">
                            <a href="#" class="text-muted sort" data-sort="tables-type">Type</a>
                          </th>
                          <th scope="col">
                            <a href="#" class="text-muted sort" data-sort="tables-status">Status</a>
                          </th>
                          <th scope="col">
                            <a href="#" class="text-muted sort" data-sort="tables-purchase-price">Purchase Price</a>
                          </th>
                          <th scope="col">
                            <a href="#" class="text-muted sort" data-sort="tables-current-value">Current Value</a>    
                          <th scope="col">
                            <a href="#" class="text-muted sort" data-sort="tables-rental-income">Rental Income</a>    
                          </th>
                          <th scope="col">
                              <a href="#" class="text-muted sort" data-sort="tables-rental-yield">Rental Yield</a>  
                          </th>
                        </tr>
                      </thead>
                      <tbody class="list">
                        <% properties.forEach(function(property){%>
                        <tr>
                          <th scope="row" class="tables-address">
                            <%=property.address%>, <%=property.city%>
                          </th>
                          <td class="tables-type">
                            <%=property.units%>
                          </td>
                          <td class="tables-status">
                            <span class="text-<%=property.status == 'Occupied' ? 'success' : 'danger'%> ">●</span> <%=property.status%>
                          </td>
                          <td class="tables-purchase-price">
                            <%=property.purchase_price ? '£'+property.purchase_price : ''%>
                          </td>
                          <td class="tables-current-value">
                            <%=property.current_value ? '£'+property.current_value : ''%>
                          </td>
                          <td class="tables-rental-income">
                            <%=property.rental_income ? '£'+property.rental_income+'pcm' : ''%>
                          </td>
                          <td class="tables-rental-yield">
                            <h4>
                              <span class="badge badge-soft-<%=parseFloat(property.rental_yield) < 1 ? 'danger' : 'success'%>"><%=property.rental_yield.toFixed(2)%>%</span>
                            </h4>
                          </td>
                        </tr>
                        <% })%>
                      </tbody>
                    </table>
                  </div>
                </div>
    
          </div>
  
                </div> <!-- / .card-body -->
              </div> <!-- / .card -->           
        </div>
        
              </div> <!-- / .row -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- / .main-content -->


    <% include ../partials/scripts %>
</body>
</html>