<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <!-- MODALS
    ================================================== -->
    <% include ../partials/modals %>

    <%- include('../partials/sidebar', {path}) %>

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">
      <%- include('../partials/topbar') %>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 col-xl-8">
            
            <!-- Header -->
            <div class="header mt-md-5">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">
                    
                    <!-- Pretitle -->
                    <h6 class="header-pretitle">
                      Overview
                    </h6>

                    <!-- Title -->
                    <h1 class="header-title">
                      Settings
                    </h1>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div>

            <form class="mb-4" method="POST" action="/settings/update" id="settings-general-form">
            <div class="row">
              <div class="col-12">
              <!-- Form -->
                <input type="hidden" name="_csrf" value="<%= token %>">
                <input type="hidden" id="user_id" value="<%=user.id%>">
                <div class="row">
                  <div class="col-12 col-md-6">
                    
                    <!-- First name -->
                    <div class="form-group">

                      <!-- Label -->
                      <label>
                        First name
                      </label>

                      <!-- Input -->
                      <input type="text" class="form-control" id="first_name" name="user[first_name]" value="<%=user.first_name%>">

                    </div>

                  </div>
                  <div class="col-12 col-md-6">
                    
                    <!-- Last name -->
                    <div class="form-group">

                      <!-- Label -->
                      <label>
                        Last name
                      </label>

                      <!-- Input -->
                      <input type="text" class="form-control" id="last_name" name="user[last_name]" value="<%=user.last_name%>">

                    </div>

                  </div>
                  <div class="col-12">
                    
                    <!-- Email address -->
                    <div class="form-group">

                      <!-- Label -->
                      <label class="mb-1">
                        Email address
                      </label>

                      <!-- Form text -->
                      <small class="form-text text-muted">
                        This contact will be shown to others publicly, so choose it carefully.
                      </small>

                      <!-- Input -->
                      <input type="email" class="form-control" name="user[email]" value="<%=user.email%>" disabled>

                    </div>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div>

             <!-- Divider -->
            <hr class="mt-4 mb-5">
              
            <div class="row">
                <div class="col-12 col-md-6 order-md-2">
                  
                  <!-- Card -->
                  <div class="card bg-light border ml-md-4">
                    <div class="card-body">
                      
                      <p class="mb-2">
                        Password requirements
                      </p>

                      <p class="small text-muted mb-2">
                        To create a new password, you have to meet all of the following requirements:
                      </p>

                      <ul class="small text-muted pl-4 mb-0">
                        <li>
                          Minimum 8 character
                        </li>
                        <li>
                          At least one special character
                        </li>
                        <li>
                          At least one number
                        </li>
                        <li>
                        Can’t be the same as a previous password
                        </li>
                      </ul>

                    </div>
                  </div>
                </div>
               <div class="col-12 col-md-6">
                  <div class="form-group">

                    <!-- Label -->
                    <label>
                      Old Password
                    </label>

                    <!-- Input -->
                    <input type="password" class="form-control" id="password">
                    <div class="invalid-feedback">
                      Password is incorrect
                    </div>
                  </div>

                  <!-- New password -->
                  <div class="form-group">

                    <!-- Label -->
                    <label>
                      New password
                    </label>

                    <!-- Input -->
                    <input type="password" class="form-control" name="user[password]" id="password1">
                    <div class="invalid-feedback">
                      Password does not match
                    </div>

                  </div>

                  <!-- Confirm new password -->
                  <div class="form-group">

                    <!-- Label -->
                    <label>
                      Confirm new password
                    </label>

                    <!-- Input -->
                    <input type="password" class="form-control" name="user[password]" id="password2">
                    <div class="invalid-feedback">
                      Password does not match
                    </div>

                  </div>

                  <!-- Submit -->
                  <button type="submit" class="btn btn-primary btn-block lift">
                    Update
                  </button>
                  </form>
                </div>
            </div> <!-- / .row -->

          </div>
        </div> <!-- / .row -->
      </div>
      
    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    <% include ../partials/scripts %>

  </body>
</html>