<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
    <% include ../partials/topnav %>

    <div class="main-content">
      
      <div class="container">
        <div class="row justify-content-center mb-4">
          <div class="col-12 col-lg-10 col-xl-8">
            
            <!-- Form -->
            <form class="mb-4" method="POST" action="/property/update">
            <!-- Header -->
            <div class="header mt-md-5">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h1 class="header-title">
                      Property Details
                    </h1>

                  </div>
                <div class="col-auto">
                
                  <!-- Button -->
                  <button type="button" onclick="history.back()" class="btn btn-block btn-primary mb-2">
                    Back to Property
                  </button>

                </div>
                </div> <!-- / .row -->
                <div class="row align-items-center">
                  <div class="col">
                  
                    <!-- Nav -->
                    <ul class="nav nav-tabs nav-overflow header-tabs">
                      <li class="nav-item">
                        <a href="#addressDetails" data-toggle="tab" role="tab" class="nav-link active">
                          Address Details
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="#furtherDetails" data-toggle="tab" role="tab" class="nav-link">
                          Further Details
                        </a>
                      </li>
                    </ul>
  
                  </div>
                </div>
              </div>
            </div>
            
            <input type="hidden" name="_csrf" value="<%= token %>">
            <input type="hidden" name="property[id]" value="<%= property.id%>">
            <input type="hidden" id="property_fulladdress" name="property[fulladdress]" value="<%= property.fulladdress%>">
            
            <div class="tab-content">
              <div class="tab-pane fade active show" id="addressDetails" role="tabpanel">
                <div class="row">
            
                  <div class="col-12 col-md-6">
                    
                    <!-- Start date -->
                    <div class="form-group">
                      <label>
                        Address
                      </label>
                      <input type="text" id="propertyAutocomplete" name="property[address]" class="form-control" placeholder="Enter an address" value="<%= property.address%>" required>
                    </div>

                  </div>
                  <div class="col-12 col-md-6">
                    
                    <!-- Start date -->
                    <div class="form-group">
                      <label>
                        Address 2
                      </label>
                      <input type="text" name="property[address2]" class="form-control" value="<%= property.address2%>">
                    </div>

                  </div>
                </div> <!-- / .row -->
              
                <div class="row">
                  <div class="col-12 col-md-4">
                    
                    <!-- Start date -->
                    <div class="form-group">
                      <label>
                        City
                      </label>
                      <input type="text" id="property_city" name="property[city]" class="form-control" value="<%= property.city%>" required>
                    </div>

                  </div>
                  <div class="col-12 col-md-4">
                    
                    <!-- Start date -->
                    <div class="form-group">
                      <label>
                        County
                      </label>
                      <input type="text" id="property_county" name="property[county]" class="form-control" value="<%= property.county%>" required>
                    </div>

                  </div>
                  <div class="col-12 col-md-4">
                    
                    <!-- Start date -->
                    <div class="form-group">
                      <label>
                        Post code
                      </label>
                      <input type="text" id="property_zip" name="property[zip]" class="form-control" value="<%= property.zip%>">
                    </div>

                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="tab-pane fade" id="furtherDetails" role="tabpanel">
          
                <div class="row">
            
                  <div class="col-12 col-md-4">
                    
                  <div class="form-group">
                    <label>
                      Ownership
                    </label>
                    <select class="form-control" name="property[ownership]" data-toggle="select" value="<%= property.ownership%>" data-options='{"placeholder": "Freehold or Leasehold"}'>
                      <option></option>
                      <option value="freehold" <% if (property.ownership == 'freehold'){ %><%='selected'%><%}%>>Freehold</option>
                      <option value="leasehold" <% if (property.ownership == 'leasehold'){ %><%='selected'%><%}%>>Leasehold</option>
                    </select>
                  </div>

                  </div>
          
                  <div class="col-12 col-md-4">
                    
                    <!-- Start date -->
                    <div class="form-group">
                      <label>
                        Purchase Price
                      </label>
                      <div class="input-group input-group-merge mb-3">
                        <input type="text" min="0" onkeypress="return isNumberKey(event)"  name="property[purchase_price]" class="form-control form-control-prepended number" value="<%= property.purchase_price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <span>£</span>
                          </div>
                        </div>
                      </div>
                      
                    </div>

                  </div>
                  <div class="col-12 col-md-4">
                    
                    <!-- Start date -->
                    <div class="form-group">
                      <label>
                        Purchase Date
                      </label>
                      <input type="text" name="property[purchase_date]" class="form-control" value="<%= property.purchase_date%>"  data-toggle="flatpickr">
                    </div>

                  </div>
                </div> <!-- / .row -->
          
                <div class="row">
                  <div class="col-12 col-md-6">
                    
                    <div class="form-group">
                      <label>
                        Property Type
                      </label>
                      <select class="form-control" id="property_type" name="property[type]" data-toggle="select" data-options='{"placeholder": "Select a property type"}'>
                        <option></option>
                        <option value="detached_house" <% if (property.type == 'detached_house'){ %><%='selected'%><%}%>>Detached House</option>
                        <option value="semi-detached_house" <% if (property.type == 'semi-detached_house'){ %><%='selected'%><%}%>>Semi Detached House</option>
                        <option value="terraced_house" <% if (property.type == 'terraced_house'){ %><%='selected'%><%}%>>Terraced House</option>
                        <option value="flat" <% if (property.type == 'flat'){ %><%='selected'%><%}%>>Flat</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a type
                      </div>
                    </div>

                  </div>
                  <div class="col-12 col-md-6">
                    
                    <div class="form-group">
                      <label>
                        Construction Date
                      </label>
                      <select class="form-control" id="construction_date" name="property[construction_date]" data-toggle="select" data-options='{"placeholder": "When"}'>
                        <option></option>
                        <option value="pre_1914" <% if (property.construction_date == 'pre_1914'){ %><%='selected'%><%}%>>Pre-1914</option>
                        <option value="1914_2000" <% if (property.construction_date == '1914_2000'){ %><%='selected'%><%}%>>Between 1914-2000</option>
                        <option value="2000_onwards" <% if (property.construction_date == '2000_onwards'){ %><%='selected'%><%}%>>2000 onwards</option>
                      </select>
                      <div class="invalid-feedback">
                        Please provide a construnction date
                      </div>
                    </div>

                  </div>
                </div> <!-- / .row -->
          
          
                <div class="row">
                  <div class="col-12 col-md-4">
                    
                    <div class="form-group">
                      <label>
                        Bedrooms
                      </label>
                      <input type="number" min="1" max="5" id="bedrooms" name="property[bedrooms]" class="form-control number" value="<%=property.bedrooms%>">
                      <div class="invalid-feedback">
                        Please provide bedrooms
                      </div>
                    </div>

                  </div>
          
                  <div class="col-12 col-md-4">
                    
                    <div class="form-group">
                      <label>
                        Bathrooms
                      </label>
                      <input type="number" min="1" max="5" id="bathrooms"  name="property[bathrooms]" class="form-control number" value="<%=property.bathrooms%>">
                      <div class="invalid-feedback">
                        Please provide bathrooms
                      </div>
                    </div>

                  </div>
          
                  <div class="col-12 col-md-4">
                    
                  <div class="form-group">
                    <label>
                      Finish Quality
                    </label>
                    <select class="form-control" id="finish_quality" name="property[finish_quality]" data-toggle="select" data-options='{"placeholder": "Choose"}'>
                      <option></option>
                      <option value="very_high" <% if (property.finish_quality == 'very_high'){ %><%='selected'%><%}%>>Very High</option>
                      <option value="high" <% if (property.finish_quality == 'high'){ %><%='selected'%><%}%>>High</option>
                      <option value="average" <% if (property.finish_quality == 'average'){ %><%='selected'%><%}%>>Average</option>
                      <option value="below_average" <% if (property.finish_quality == 'below_average'){ %><%='selected'%><%}%>>Below Average</option>
                      <option value="unmodernised" <% if (property.finish_quality == 'unmodernised'){ %><%='selected'%><%}%>>Unmodernised</option>
                    </select>
                    <div class="invalid-feedback">
                      Please select a finish quality
                    </div>
                  </div>

                  </div>
          
                </div> <!-- / .row -->
          
                <div class="row">
                  <div class="col-12 col-md-4">
                    
                    <!-- Start date -->
                    <div class="form-group">
                      <label>
                        Internal Square Feet
                      </label>
                      <input type="text" id="square_feet" onkeypress="return isNumberKey(event)"  name="property[square_feet]" class="form-control number" value="<%=property.square_feet.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>">
                      <div class="invalid-feedback">
                        Please provide a square feet
                      </div>
                    </div>

                  </div>
                  <div class="col-12 col-md-4">
                    
                    <div class="form-group">
                      <label>
                        Outdoor Space
                      </label>
                      <select class="form-control"  id="outdoor_space" name="property[outdoor_space]" data-toggle="select" data-options='{"placeholder": "Choose"}'>
                        <option></option>
                        <option value="none" <% if (property.outdoor_space == 'none'){ %><%='selected'%><%}%>>None</option>
                        <option value="balcony_terrace" <% if (property.outdoor_space == 'balcony_terrace'){ %><%='selected'%><%}%>>Balcony Terrace</option>
                        <option value="garden" <% if (property.outdoor_space == 'garden'){ %><%='selected'%><%}%>>Garden</option>
                        <option value="garden_very_large" <% if (property.outdoor_space == 'garden_very_large'){ %><%='selected'%><%}%>>Garden (Large)</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a outdoor space
                      </div>
                    </div>

                  </div>
                  <div class="col-12 col-md-4">
                    
                    <div class="form-group">
                      <label>
                        Off Street Parking
                      </label>
                      <select class="form-control" id="off_street_parking" name="property[off_street_parking]" data-toggle="select" data-options='{"placeholder": "Choose"}'>
                        <option></option>
                        <option value="0" <% if (property.off_street_parking == 0){ %><%='selected'%><%}%>>No parking</option>
                        <option value="1" <% if (property.off_street_parking == 1){ %><%='selected'%><%}%>>1 Space</option>
                        <option value="2" <% if (property.off_street_parking == 2){ %><%='selected'%><%}%>>2 Spaces</option>
                        <option value="3" <% if (property.off_street_parking == 3){ %><%='selected'%><%}%>>3+ Spaces</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a off street parking
                      </div>
                    </div>

                  </div>
                </div> <!-- / .row -->
              </div>
        
              <!-- Divider -->
              <hr class="mt-5 mb-5">

              <button id="updatePropertyBtn" type="submit" class="btn btn-block btn-primary mb-2">
                Update
              </button>

              <!-- Divider -->
              <hr class="mt-5 mb-5">

              </form>
              <!-- Buttons -->
              <form method="POST" action="/property/remove ">
                <input type="hidden" name="_csrf" value="<%= token %>">
                <input type="hidden" name="property[id]" value="<%= property.id%>">
                <button type="submit" class="btn btn-block btn-danger">
                  Remove property
                </button>
              </form>
          </div>
        </div> <!-- / .row -->
      </div>
        
    </div>

    <!-- JAVASCRIPT
  ================================================== -->
    <% include ../partials/scripts %>

    <script type="text/javascript">
      $(function(){
        try {
          const ids = JSON.parse(localStorage.getItem('est_missing_ids'));
          if (ids.length) {
            ids.map(id => {
              $(id).addClass('is-invalid');
            })
            $('a[href="#furtherDetails"]').click();
          }
        } catch (e){
        }
        localStorage.setItem('est_missing_ids', '');
      });
    </script>
    
    </body>
</html>