<!doctype html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body>

    <input type="hidden" id="hidden_documents" value="<%= JSON.stringify(documents) %>">
    <input type="hidden" id="hidden_properties" value="<%= JSON.stringify(properties) %>">
    <!-- Modal Upload -->
    <div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form id="document-upload-form" method="post" action="/property/documents/upload_all" >
          <input type="hidden" name="_csrf" value="<%= token %>">
          <input type="hidden" id="document_id" name="document[id]" value="">
          <div class="modal-content bg-lighter">
            <div class="modal-header">
                <!-- Header -->
              <h3 class="modal-title">Upload Document</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="row">
                    <div class="col-12">
                      
                      <!-- Start date -->
                      <div class="form-group">
                        <label>
                          Properties
                        </label>
                        <select class="form-control" id="document_property" name="document[property]" data-toggle="select"  data-options='{"placeholder": "Select a Property"}' required>
                          <option></option>
                          <% properties.map(property => {%>
                          <option value="<%=property.id%>"><%=property.address + ', ' + property.city%></option>
                          <%})%>
                        </select>  
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <!-- Start date -->
                      <div class="form-group">
                        <label>
                          Tenancies
                        </label>
                        <select class="form-control" id="document_tenancy" name="document[tenancy]" data-toggle="select"  data-options='{"placeholder": "Select a Tenancy"}'>
                          <option></option>
                        </select>  
                      </div>
        
                    </div>
                   
                  </div>
                  
                </div>
                <div class="col-12 col-md-6">
                  <div class="dropzone dropzone-multiple">

                    <!-- Fallback -->
                    <div class="fallback">
                      <input type="file" class="custom-file-input" id="customFileUploadMultiple">
                    </div>

                    <!-- Preview -->
                    <ul class="dz-preview dz-preview-multiple list-group list-group-lg list-group-flush">
                      <li class="list-group-item px-0">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <div class="avatar">
                              <img class="avatar-img rounded" src="..." alt="..." data-dz-thumbnail>
                            </div>
                          </div>
                          <div class="col ml-n3">
                            <h4 class="mb-1" data-dz-name>...</h4>
                            <p class="small text-muted mb-0" data-dz-size>...</p>
                          </div>
                          <div class="col-auto">
                            
                            <div class="dropdown">
                              <a href="#" class="dropdown-item" title="Remove file" data-dz-remove>
                                <i class="fe fe-trash"></i>
                              </a>
                            </div>

                          </div>
                        </div>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <!-- Start date -->
                  <div class="form-group mt-3">
                    <label>
                      Tag
                    </label>
                    <select class="form-control" name="document[tag]" id="document_tag" multiple="multiple">
                      <option>House</option>
                    </select>
                  </div>
    
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" id="uploadDocumentBtn" class="btn btn-primary">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <% include ../partials/topnav %>

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

      <!-- HEADER -->
      <div class="header">
        <div class="container">
          
          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col ml-n3 ml-md-n2">

                <!-- Title -->
                <h2 class="header-title">
                  Document library
                </h2>

              </div>

            </div> <!-- / .row -->
          
          </div>

        </div>
      </div> <!-- / .header -->

      <!-- CONTENT -->
      <div class="container">
        <div class="row">
          <div class="col-12">
            
            <!-- Files -->
            <div class="card" data-toggle="lists" data-options='{"valueNames": ["name"]}'>
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
                    
                    <!-- Title -->
                    <h4 class="card-header-title">
                      Files
                    </h4>

                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">

                      <!-- Toggle -->
                   
                      <select class="form-control" id="filterByProperty" data-toggle="select"  data-options='{"placeholder": "All Properties"}' required>
                          <option></option>
                          <option value="all">All</option>
                          <% properties.map(property => {%>
                          <option value="<%=property.id%>"><%=property.address + ', ' + property.city%></option>
                          <%})%>
                        </select>  

                    </div>
    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Button -->
                    <a href="#" data-toggle="modal" data-target="#modalUpload" class="btn btn-sm btn-primary">
                      Upload
                    </a>

                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="card-header">
                <div class="row">
                  <div class="col-12">
                    
                    <!-- Form -->
                    <form>
                      <div class="input-group input-group-flush input-group-merge">
                        <input type="search" class="form-control form-control-prepended search" placeholder="Search">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <span class="fe fe-search"></span>
                          </div>
                        </div>
                      </div>
                    </form>

                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="card-body">

                <!-- List -->
                <ul class="list-group list-group-lg list-group-flush list my-n4" id="documentList">
                  <% if(!documents.length) { %>
                    <p class="text-center p-3">There is no any documents yet.</p>
                  <% } %>
                </ul>
                <ul id="documentPagination" class="pagination-md mt-5"></ul>
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div>
      
    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    <% include ../partials/scripts %>

    <script type="text/javascript">
      let all_items = $('#hidden_documents').val();
      let properties = $('#hidden_properties').val();
      try {
        properties = JSON.parse(properties);
      } catch(e) { properties = [];}
      let items = []
      try {
        all_items = JSON.parse(all_items);
        items = all_items;
      } catch(e) {}

      function doPopulate() {
        $('#documentList').empty();
        let page = 0; 
        items.map( (doc, idx) => {
          if (idx % 3 == 0) { 
            page = (parseInt(idx/3) + 1)
          } else {
            page = (parseInt(idx/3) + 1) + ' d-none' 
          }
          const date = new Date(doc.created_at);
          const uploaded_at = date.getMonth()+1 + '/' + date.getDate() + '/' + date.getFullYear();
          const property_name = properties.map( function(property) { return property.id == doc.property_id ? property.address + ', ' + property.city : "" });
          $('#documentList').append(`<li class="list-group-item px-0 page${page}">
              <div class="row align-items-center">
                <div class="col-auto">
                  
                  <!-- Avatar -->
                  <h1 class="mb-0 avatar avatar-md">
                    <img src="/img/icons/unit.png" class="avatar-img">
                  </h1>

                </div>
                <div class="col ml-n2">

                  <!-- Title -->
                  <h4 class="card-title mb-1 name">
                    <a href="#!">${doc.filename}</a>
                  </h4>

                  <!-- Text -->
                  <p class="card-text small text-muted mb-1">
                    ${property_name} &bull;${doc.tag}
                  </p>

                  <!-- Time -->
                  <p class="card-text small text-muted">
                    Uploaded on <time datetime="${uploaded_at}">${uploaded_at}></time>
                  </p>
                  
                </div>
                <div class="col-auto">
                  
                  <!-- Button -->
                  <a href="/${doc.path}" target="_blank" class="btn btn-sm btn-white d-none d-md-inline-block">
                    Download
                  </a>

                </div>
                <div class="col-auto">
                  
                  <!-- Dropdown -->
                  <div class="dropdown">
                    <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fe fe-more-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <button class="dropdown-item delete-document" data-id="${doc.id}">
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div> 
            </li>`);
           })
      }
      function doPaginate() {
        // $('#documentPagination').empty();
        try {
          const pageCnt = Math.ceil(items.length / 3);
          var visiblePageCnt = Math.min(3, pageCnt);
          $('#documentPagination').twbsPagination('destroy');
          $('#documentPagination').twbsPagination({
              totalPages: pageCnt,
              // the current page that show on start
              startPage: 1,
              // maximum visible pages
              visiblePages: visiblePageCnt,
              initiateStartPageClick: true,
              // template for pagination links
              href: false,
              // variable name in href template for page number
              hrefVariable: '{{number}}',
              // Text labels
              first: '<<',
              prev: 'Prev',
              next: 'Next',
              last: '>>',
              // carousel-style pagination
              loop: false,
              // callback function
              onPageClick: function (event, page) {
                $('#documentList .list-group-item').addClass('d-none');
                $('.page'+page).removeClass('d-none');
              },
              // pagination Classes
              paginationClass: 'pagination',
              nextClass: 'next',
              prevClass: 'prev',
              lastClass: 'last',
              firstClass: 'first',
              pageClass: 'page',
              activeClass: 'active',
              disabledClass: 'disabled'
          });
        } catch(e) {}
      }

      function Dropzone_init(el) {
        Dropzone.autoDiscover = false;
        Dropzone.thumbnailWidth = null;
        Dropzone.thumbnailHeight = null;

        var currentFile = undefined;
        var elementOptions = el.dataset.options;
            elementOptions = elementOptions ? JSON.parse(elementOptions) : {};
        var defaultOptions = {
          url: "/property/documents/upload?_csrf=<%=token%>",
          maxFiles: 1,
          previewsContainer: el.querySelector('.dz-preview'),
          previewTemplate: el.querySelector('.dz-preview').innerHTML,
          init: function() {
            this.on('addedfile', function(file) {
              var maxFiles = elementOptions.maxFiles;
              if (maxFiles == 1 && currentFile) {
                this.removeFile(currentFile);
              }
              currentFile = file;
            });

            this.on('removedfile', function(file){
              $('#document_id').val('');
            });
          },
          success: function(res) {
            if (res.status == "success") {
              try {
                const document_id = res.xhr.response;
                $('#document_id').val(document_id);
              } catch(e) {}
            } else {
              makeToast({message: "Sorry, Something wrong happened on the server while uploading your document"});
            }
          }
        }
        var options = Object.assign(elementOptions, defaultOptions);

        // Clear preview
        el.querySelector('.dz-preview').innerHTML = '';

        // Init dropzone
        new Dropzone(el, options);
      }

      $(function(){
        doPopulate();
        doPaginate();

        if (document.querySelector('.dropzone')) {
          Dropzone_init( document.querySelector('.dropzone'));
        }

        $('#filterByProperty').on('select2:select', function (e) {
          if (e.params.data.id == 'all') {
            items = all_items;
          } else {
            items = all_items.filter(item => item.property_id == e.params.data.id);
          }
          doPopulate();
          doPaginate();
        });

        $('#document_property').on('select2:select', function (e) {
          var data = {
            property: {
              id: e.params.data.id
            }
          };
          const token = $('input[name="_csrf"]').val();
          fetch('/property/unit/all', {
              credentials: 'same-origin', // <-- includes cookies in the request
              headers: {
                  'CSRF-Token': token, 
                  'Content-Type': 'application/json'
              },
              method: 'POST',
              body: JSON.stringify(data)
          })
          .then(response => response.json())
          .then(function(res) {
            if (res.status == 200) {
              $('#document_tenancy').val(null).trigger('change');
              res.tenancies.map(tenancy => {
                var option = new Option(tenancy.description, data.id, true, true);
                $('#document_tenancy').append(option);
              })
            }
          })
          .catch(error => {
              console.log(error);
          });
        });

        $('#document_tag').select2({
          tags: true,
          createTag: function (params) {
            var term = $.trim(params.term);

            if (term === '') {
              return null;
            }

            return {
              id: term,
              text: term,
              newTag: true // add additional parameters
            }
          }
        });
        $('.delete-document').click(function(e) {
          e.preventDefault();
          const id = $(this).data('id');
          const parent = $(this).parents('.list-group-item');
          const token = $('meta[name="csrf"]').attr('content');
          const data = {
              document: {
                id 
              }
          };
          fetch('/property/documents/delete', {
            credentials: 'same-origin', // <-- includes cookies in the request
            headers: {
                'CSRF-Token': token, 
                'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify(data)
          })
          .then(response => response.json())
          .then(function(res) {
            makeToast({message: res.message});
            if (res.status == 422) {
            } else if (res.status == 200) {
              parent.remove();
            }
          })
          .catch(error => {
            console.log(error);
          });
      })
      });
    </script>

  </body>
</html>