<!doctype html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body>

      <% include ../partials/modals %>

      <% include ../partials/topnav %>
  
    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

      <!-- HEADER -->
      <div class="header">
        <div class="container">
          
          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar avatar-lg avatar-4by3">
                  <img src="/img/avatars/projects/project-1.jpg" alt="..." class="avatar-img rounded">
                </div>

              </div>
              <div class="col ml-n3 ml-md-n2">
                
                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Property
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  <%= property.address%>
                </h1>

              </div>

            </div> <!-- / .row -->
			
          <h2 class="mt-2">
            <% if (property.land_title) { %>
              <span class="badge badge-soft-primary ml-1 mt-n1 text-capitalize"><%= property.land_title %></span>
            <% }%>
            <% if (property.status) { %>
              <span class="badge badge-soft-success ml-1 mt-n1 text-capitalize"><%= property.status %></span>
            <% }%>
            <% if (property.units) { %>
              <span class="badge badge-soft-info ml-1 mt-n1 text-capitalize"><%= property.units %></span>
            <% }%>
          </h2>
			
          </div>

        </div>
      </div> <!-- / .header -->

      <!-- CONTENT -->
      <div class="container">
        <div class="row">
          <div class="col-12">
        
          <div class="row">
			
            <div class="col-12 col-xl-8">
            
              <!-- Card -->
              <div class="card">
				  
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h4 class="card-header-title">
                        Summary
                      </h4>

                    </div>
					
                    <div class="col-auto">

                      <!-- Button -->
                      <a href="#!" class="btn btn-sm btn-white">
                        Adjust
                      </a>
                  
                    </div>
                   
                  </div> <!-- / .row -->
                </div>
				
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col-4 text-center border-right">
                        <!-- Title -->
                        <h6 class="card-title text-uppercase text-muted mb-2">
                          Est Market Value
                        </h6>
                
                        <!-- Heading -->
                        <span class="h2 mb-0">
                          £524,500
                        </span>
                      
                      </div>
                      <div class="col-4 text-center border-right">
                          <!-- Title -->
                        <h6 class="card-title text-uppercase text-muted mb-2">
                          Annual Income
                        </h6>
                
                        <!-- Heading -->
                        <span class="h2 mb-0">
                            +£24,500
                        </span>
                      
                      </div>

                      <div class="col-4 text-center">
                          <!-- Title -->
                        <h6 class="card-title text-uppercase text-muted mb-2">
                            Rental Yield
                        </h6>
                
                        <!-- Heading -->
                        <span class="h2 mb-0">
                            3.8%
                        </span>
                      
                      </div>

                  </div> <!-- / .row -->
                
              </div> 
		  </div>
			  
              <!-- Card -->
              <div class="card">
				  
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h4 class="card-header-title">
                        Tenancies
                      </h4>

                    </div>
					
                    <div class="col-auto">

                      <!-- Button -->
                      <a href="#!" class="btn btn-sm btn-white">
                        Add Tenancy
                      </a>
                  
                    </div>
                   
                  </div> <!-- / .row -->
                </div>
				
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-auto">
                  
                      <!-- Avatar -->
                      <h1 class="mb-0">
                        <i class="fe fe-file-text"></i>
                      </h1>
  
                    </div>
                    <div class="col ml-n2 mr-auto">
  
                      <!-- Title -->
                      <h4 class="card-title mb-1">
                        <a href="project-overview.html">Launchday logo</a>
                      </h4>
  
                      <!-- Time -->
                      <p class="card-text small text-muted">
                        1.5mb PNG Dave
                      </p>
                    </div>

                    <div class="col-auto text-right">
                      <!-- Title -->
                      <h4 class="card-title mb-1">
                          <a href="project-overview.html"> £524,500</a>
                        </h4>
    
                        <!-- Time -->
                        <p class="card-text small text-muted">
                          Monthly
                        </p>
                    </div>
                    <div class="col-auto">
                      <i class="fe fe-chevron-right"></i>
                    </div>
                  </div>
                  
                  <!-- Divider -->
                  <hr>
				  
                  <p class="mb-3 d-none">
                    No active tenancies
                  </p>

 
                </div>
              </div>
			  
            </div>
			
			
            <div class="col-12 col-xl-4">
            
              <!-- Card -->
              <div class="card">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col">

                        <!-- Title -->
                        <h4 class="card-header-title">
                          Property Details
                        </h4>

                      </div>
                      <div class="col-auto">

                        <!-- Button -->
                        <a href="#!" class="btn btn-sm btn-white">
                          Edit
                        </a>
                    
                      </div>
                    </div> <!-- / .row -->
                  </div>
				  
                <div class="card-body">

                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Acquired on
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <time class="small text-muted" datetime="1988-24-10">
                        <%= property.purchase_date%>
                      </time>

                    </div>
                  </div> <!-- / .row -->

                  <!-- Divider -->
                  <hr>

                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Property Type
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <small class="small text-muted text-capitalize"> 
                        <%= property.type%>
                      </small>

                    </div>
                  </div> <!-- / .row -->

                  <!-- Divider -->
                  <hr>

                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Construction date
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <small class="text-muted text-capitalize">
                        <%= property.construction_date%>
                      </small>

                    </div>
                  </div> <!-- / .row -->

                  <!-- Divider -->
                  <hr>

                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Square feet (internal)
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <small class="text-muted">
                        250
                      </small>

                    </div>
                  </div> <!-- / .row -->
				  
                  <hr>

                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Units
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <small class="text-muted">
                        <%= property.units%>
                      </small>

                    </div>
                  </div> <!-- / .row -->

                </div>
              </div>

              <!-- Weekly Hours -->
              <div class="card">
                <div class="card-header">
                
                  <!-- Title -->
                  <h4 class="card-header-title">
                    Location
                  </h4>

                </div>
                <div class="card-body">
                
                <div class="embed-responsive embed-responsive-21by9 rounded">
                  <div class="embed-responsive-item" id="map" data-toggle="map" data-options='{"center": [<%= property.lng%>, <%= property.lat%>], "zoom": 12}'></div>
                </div>

                </div>
              </div>

            </div>
		
		
        
              </div>
              
            </div>

          </div>
          
        </div> <!-- / .row -->
		
		
		
		
      </div>
      
    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    <% include ../partials/scripts %>

    <script>
      $(function() {

      });
    </script>

  </body>
</html>