<!doctype html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body>

    <!-- Modal Add New Unit -->
    <div class="modal  fade" id="modalAddNewUnit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form id="search-address-form" method="post" action="/property/unit/new/">
          <input type="hidden" name="_csrf" value="<%= token %>">
          <input type="hidden" name="property[id]" value="<%= property.id%>">
          <input type="hidden" name="unit[id]" value="">
          <div class="modal-content bg-lighter">
            <div class="modal-header">
                <!-- Header -->
              <h3 class="modal-title">Add a New Unit</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
    
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Unit Description
                    </label>
                    <input type="text" id="unit_description" name="unit[description]" class="form-control" placeholder="Description" value="" required>
                  </div>
    
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Start Date
                    </label>
                    <input type="text" id="unit_start_date" name="unit[start_date]" class="form-control" value=""  data-toggle="flatpickr" required>
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      End Date (Optional)
                    </label>
                    <input type="text" id="unit_end_date" name="unit[end_date]" class="form-control" value=""  data-toggle="flatpickr">
                  </div>
    
                </div>
              </div> <!-- / .row -->
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Rent Price
                    </label>
                    <div class="input-group input-group-merge mb-3">
                      <input type="text" id="unit_rent_price" onkeypress="return isNumberKey(event)"  name="unit[rent_price]" class="form-control form-control-prepended number">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>£</span>
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Rent Frequency
                    </label>
                    <select class="form-control" id="unit_rent_frequency" name="unit[rent_frequency]" data-toggle="select" data-options='{"placeholder": "Select a frequency"}' required>
                      <option></option>
                      <option value="Daily">Daily</option>
                      <option value="Weekly">Weekly</option>
                      <option value="Fortnightly">Fortnightly</option>
                      <option value="Monthly">Monthly</option>
                    </select>
                  </div>
    
                </div>
              </div> <!-- / .row -->
              <div class="row">
                <div class="col-12 col-md-6">
                  <button type="submit" class="btn btn-outline-danger d-none btn-unit-delete">Delete this unit</button>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" id="addUnitBtn">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Modal Adjust Summary -->
    <div class="modal fade" id="modalAdjustSummary" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form id="search-address-form" method="post" action="/property/ajust_summary/">
          <input type="hidden" name="_csrf" value="<%= token %>">
          <input type="hidden" name="property[id]" value="<%= property.id%>">
          <div class="modal-content bg-lighter">
            <div class="modal-header">
                <!-- Header -->
              <h3 class="modal-title">Adjust Summary</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
    
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Current Valuation
                    </label>
                    <input type="text" name="property[current_value]" id="property_current_value" class="form-control" placeholder="" value="" required>
                  </div>
    
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center">
                  <button type="button" class="btn btn-primary" id="estimatePropertyBtn" data-property="<%=JSON.stringify(property)%>">
                    <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span> 
                    Use Avenue Estimate 
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Income
                    </label>
                    <input type="text" name="property[rental_income]" class="form-control" placeholder="" value="<%= property.rental_income%>" required readonly>
                  </div>
    
                </div>
               
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Yield % 
                    </label>
                    <input type="text" name="property[rental_yield]" class="form-control" placeholder="" value="<%= property.rental_yield.toFixed(2)%>" required readonly>
                  </div>
    
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <% include ../partials/topnav %>
  
    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

      <!-- HEADER -->
      <div class="header">
        <div class="container">
          
          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar avatar-lg avatar-4by3">
                  <img src="/img/avatars/projects/project-1.jpg" alt="..." class="avatar-img rounded">
                </div>

              </div>
              <div class="col ml-n3 ml-md-n2">
                
                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Property
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  <%= property.address%>, <%= property.city%>
                </h1>

              </div>

            </div> <!-- / .row -->
			
          </div>

        </div>
      </div> <!-- / .header -->

      <!-- CONTENT -->
      <div class="container">
         <!-- Alert -->
        <% if (property.is_new) {%>
			  <div class="alert alert-warning" role="alert">
          This property profile is only 50% complete. <a href="/property/detail/<%=property.id%>" class="alert-link">Add more details here</a>
        </div>
        <% } %>
        
        <!-- Alert -->
        <% if (property.status == 'vacant') {%>
        <!-- <div class="alert alert-secondary">
          This property is vacant and has no active tenancies

          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>

        </div> -->
        <% } %>

        <div class="row">
          <div class="col-12">
        
          <div class="row">
			
            <div class="col-12 col-xl-8">
            
              <!-- Card -->
              <div class="card">
				  
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h4 class="card-header-title">
                        Summary
                      </h4>

                    </div>
					
                    <div class="col-auto">

                      <!-- Button -->
                      <button class="btn btn-sm btn-white" data-toggle="modal" data-target="#modalAdjustSummary">
                        Adjust
                      </button>
                  
                    </div>
                   
                  </div> <!-- / .row -->
                </div>
				
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col-4 text-center border-right">
                        <!-- Title -->
                        <h6 class="card-title text-uppercase text-muted mb-2">
                          Est Market Value
                        </h6>
                
                        <!-- Heading -->
                        <span class="h2 mb-0">
                          £<%=property.current_value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                        </span>
                      
                      </div>
                      <div class="col-4 text-center border-right">
                          <!-- Title -->
                        <h6 class="card-title text-uppercase text-muted mb-2">
                          Annual Income
                        </h6>
                
                        <!-- Heading -->
                        <span class="h2 mb-0">
                          £<%=property.rental_income.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                        </span>
                      
                      </div>

                      <div class="col-4 text-center">
                          <!-- Title -->
                        <h6 class="card-title text-uppercase text-muted mb-2">
                            Rental Yield
                        </h6>
                
                        <!-- Heading -->
                        <span class="h2 mb-0">
                          <%=property.rental_yield.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>%
                        </span>
                      
                      </div>

                  </div> <!-- / .row -->
                
              </div> 
		      </div>
			  
              <!-- Card -->
              <div class="card">
				  
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h4 class="card-header-title">
                        Occupancy
                      </h4>

                    </div>
					
                    <div class="col-auto">

                      <!-- Button -->
                      <button class="btn btn-sm btn-white" data-toggle="modal" data-target="#modalAddNewUnit">
                        Add Unit
                      </button>
                  
                    </div>
                   
                  </div> <!-- / .row -->
                </div>
				
                <div class="card-body">
                  <% property.tenancies.forEach( function(unit){ %>
                  <div class="row align-items-center unit-item">
                    <div class="col-auto">
                  
                      <!-- Avatar -->
                      <h1 class="mb-0 avatar avatar-md">
                        <img src="/img/icons/unit.png" class="avatar-img">
                      </h1>
  
                    </div>
                    <div class="col ml-n2 mr-auto">
  
                      <!-- Title -->
                      <h4 class="card-title mb-1">
                        <a href="#" class="edit-unit" data-unit="<%=JSON.stringify(unit)%>"><%= unit.description%></a>
                      </h4>
  
                      <!-- Time -->
                      <p class="card-text small text-muted">
                          <%= unit.start_date%> ~ <%= unit.end_date%>
                      </p>
                    </div>

                    <div class="col-auto text-right">
                      <!-- Title -->
                      <h4 class="card-title mb-1">
                        <% if (parseInt(unit.rent_price) > 0) {%>£<%= unit.rent_price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%><%}%>
                      </h4>
                      
                      <!-- Time -->
                      <p class="card-text small text-muted">
                        <%= unit.rent_frequency%>
                      </p>
                    </div>
                    <div class="col-auto">
                      <a href="#" class="edit-unit" data-unit="<%=JSON.stringify(unit)%>">
                        <i class="fe fe-chevron-right"></i>
                      </a>
                    </div>
                  </div>
                  
                  <!-- Divider -->
                  <hr>
                  <% })%>
                  <% if (property.tenancies.length == 0){%>
                  <p class="mb-3">
                    This property is currently vacant and has no active tenancies.
                  </p>
                  <% }%>
                </div>
              </div>
			  
            </div>
			
            <div class="col-12 col-xl-4">
            
              <!-- Card -->
              <div class="card">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col">

                        <!-- Title -->
                        <h4 class="card-header-title">
                          Property Details
                        </h4>

                      </div>
                      <div class="col-auto">

                        <!-- Button -->
                        <a href="/property/detail/<%= property.id%>" class="btn btn-sm btn-white">
                          Edit
                        </a>
                    
                      </div>
                    </div> <!-- / .row -->
                  </div>
				  
                <div class="card-body">

                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Property Type
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <small class="small text-muted text-capitalize"> 
                        <%=property.type%>
                      </small>

                    </div>
                  </div> <!-- / .row -->
                   <!-- Divider -->
                   <hr>
                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Ownership
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <small class="small text-muted text-capitalize"> 
                        <%= property.ownership%>
                      </small>

                    </div>
                  </div> <!-- / .row -->
                   <!-- Divider -->
                   <hr>
                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Acquired on
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <time class="small text-muted" datetime="1988-24-10">
                        <%= property.purchase_date%>
                      </time>

                    </div>
                  </div> <!-- / .row -->

                  <!-- Divider -->
                  <hr>

                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Construction date
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <small class="text-muted text-capitalize">
                        <%= property.construction_date%>
                      </small>

                    </div>
                  </div> <!-- / .row -->

                  <!-- Divider -->
                  <hr>

                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Square feet (internal)
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <small class="text-muted">
                          <%= property.square_feet.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                      </small>

                    </div>
                  </div> <!-- / .row -->
				  
                  <hr>

                  <div class="row align-items-center">
                    <div class="col">
                    
                      <h5 class="mb-0">
                        Off Street Parking
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <small class="text-muted text-capitalize">
                        <%= property.off_street_parking ? property.off_street_parking : '' %> 
                      </small>

                    </div>
                  </div> 

                </div>
              </div>

              <!-- Weekly Hours -->
              <div class="card">
                <div class="card-header">
                
                  <!-- Title -->
                  <h4 class="card-header-title">
                    Location
                  </h4>

                </div>
                <div class="card-body">
                
                <div class="embed-responsive embed-responsive-21by9 rounded">
                  <div class="embed-responsive-item" id="map" data-toggle="cmap" data-option='{"center": [<%= property.lng%>, <%= property.lat%>], "zoom": 12, "markers": [{"lng":<%= property.lng%>, "lat":<%= property.lat%>}]}'></div>
                </div>

                </div>
              </div>

            </div>
        
              </div>
              
            </div>

          </div>
          
        </div> <!-- / .row -->
		
      </div>
      
    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    <% include ../partials/scripts %>
  </body>
</html>