<!doctype html>
<html lang="en">
  <head>
      <% include ../partials/head %>

      <style type="text/css">
        .filter-by-property {
          display: none;
        }

        #documents .header .header-body {
          padding-top: 0;
        }

      </style>
  </head>
  <body>

    <div class="modal  fade" id="modalAddNewLoan" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <%=property.id%>
        <form id="add-loan-form" method="post" action="/property/loan/new/">
          <input type="hidden" name="_csrf" value="<%= token %>">
          <input type="hidden" name="property[id]" value="<%= property.id%>">
          <input type="hidden" id="current_value" value="<%= property.current_value%>">
          <div class="modal-content bg-lighter">
            <div class="modal-header">
                <!-- Header -->
              <h3 class="modal-title" id="loan-modal-title">Add a Loan Value</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="d-flex mb-4">
                <div class="mr-3">Does this property have loan?</div>
                <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                  <label class="btn btn-outline-dark active">
                    <input type="radio" name="property[has_loan]" value="1" id="on_loan" autocomplete="off" checked> Yes
                  </label>
                  <label class="btn btn-outline-dark">
                    <input type="radio" name="property[has_loan]" value="0" id="off_loan" autocomplete="off"> No
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="mr-2">
                      Lender
                    </label>
                    <div class="input-group">
                      <input type="text" name="property[lender]" class="form-control form-control-prepended">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="mr-2">
                      Amount borrowed
                    </label>
                    <div class="input-group input-group-merge">
                      <input type="text" onkeypress="return isNumberKey(event)"  name="property[amount_borrowed]" class="form-control form-control-prepended number">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>£</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="mr-2">
                      Interest Rate
                    </label>
                    <div class="input-group input-group-merge">
                      <input type="text" onkeypress="return isNumberKey(event)"  name="property[interest_rate]" class="form-control form-control-prepended number">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="mr-2">
                      Monthly payment
                    </label>
                    <div class="input-group input-group-merge">
                      <input type="text" onkeypress="return isNumberKey(event)"  name="property[monthly_payment]" class="form-control form-control-prepended number">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>£</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="mr-2">
                      Current Loan Balance
                    </label>
                    <div class="input-group input-group-merge">
                      <input type="text" onkeypress="return isNumberKey(event)"  name="property[loan]" class="form-control form-control-prepended number property_debt" aria-describedby="loanHelperUpdatedAt" required>
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>£</span>
                        </div>
                      </div>
                    </div>
                    <small id="loanHelperUpdatedAt" class="form-text text-muted">
                      Last updated: <span class="update-at"></span>
                    </small>
                  </div>
                  <div class="form-group">
                    <label>
                      Start Date
                    </label>
                    <input type="text" name="property[start_date]" class="form-control" value=""  data-toggle="flatpickr">
                  </div>
                  <div class="form-group">
                    <label>
                      Maturity Date
                    </label>
                    <input type="text" name="property[maturity_date]" class="form-control" value=""  data-toggle="flatpickr">
                  </div>
                  <input type="hidden" onkeypress="return isNumberKey(event)"  name="property[equity]" class="form-control form-control-prepended number property_equity" readonly>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" id="addLoanBtn">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Modal Add New Unit -->
    <div class="modal  fade" id="modalAddNewUnit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form id="add-unit-form" method="post" action="/property/unit/new/">
          <input type="hidden" name="_csrf" value="<%= token %>">
          <input type="hidden" name="property[id]" value="<%= property.id%>">
          <input type="hidden" name="unit[id]" value="">
          <input type="hidden" name="unit[tenants]" id="unit_tenants" value="">
          <div class="modal-content bg-lighter">
            <div class="modal-header">
                <!-- Header -->
              <h3 class="modal-title" id="unit-modal-title">Add a New Unit</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
    
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Unit Description
                    </label>
                    <input type="text" id="unit_description" name="unit[description]" class="form-control" placeholder="Description" value="" required>
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Deposit
                    </label>
                    <div class="input-group input-group-merge mb-3">
                      <input type="text" id="unit_deposit" onkeypress="return isNumberKey(event)"  name="unit[deposit]" class="form-control form-control-prepended number">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>£</span>
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Start Date
                    </label>
                    <input type="text" id="unit_start_date" name="unit[start_date]" class="form-control" value=""  data-toggle="flatpickr" required>
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      End Date (Optional)
                    </label>
                    <input type="text" id="unit_end_date" name="unit[end_date]" class="form-control" value=""  data-toggle="flatpickr">
                  </div>
    
                </div>
              </div> <!-- / .row -->
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Rent Price
                    </label>
                    <div class="input-group input-group-merge mb-3">
                      <input type="text" id="unit_rent_price" onkeypress="return isNumberKey(event)"  name="unit[rent_price]" class="form-control form-control-prepended number">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>£</span>
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Rent Frequency
                    </label>
                    <select class="form-control" id="unit_rent_frequency" name="unit[rent_frequency]" data-toggle="select" data-options='{"placeholder": "Select a frequency"}' required>
                      <option></option>
                      <option value="Daily">Daily</option>
                      <option value="Weekly">Weekly</option>
                      <option value="Fortnightly">Fortnightly</option>
                      <option value="Monthly">Monthly</option>
                    </select>
                  </div>
    
                </div>
              </div> <!-- / .row -->
              <div class="row">
                <div class="col-12 col-md-6">
                  <button type="submit" class="btn btn-outline-danger d-none btn-unit-delete action-unit">Delete this unit</button>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" id="addUnitBtn">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>

      <!-- Modal Add New Tenant -->
    <div class="modal  fade" id="modalAddNewTenant" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form id="add-tenant-form" method="post" action="/property/unit/tenant/new/">
          <input type="hidden" name="_csrf" value="<%= token %>">
          <input type="hidden" name="property[id]" value="<%= property.id%>">
          <input type="hidden" name="unit[id]" value="">
          <input type="hidden" id="tenant_id" name="tenant[id]" value="">
          <div class="modal-content bg-lighter">
            <div class="modal-header">
                <!-- Header -->
              <h3 class="modal-title" id="tenant-modal-title">Add a New Tenant</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
    
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <div class="form-group">
                    <label>
                      First Name
                    </label>
                    <input type="text" id="tenant_first_name" name="tenant[first_name]" class="form-control" placeholder="First Name" value="" required>
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <div class="form-group">
                    <label>
                      Last Name
                    </label>
                    <input type="text" id="tenant_last_name" name="tenant[last_name]" class="form-control" placeholder="Last Name" value="" required>
                  </div>
    
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <div class="form-group">
                    <label>
                      Email
                    </label>
                    <input type="email" id="tenant_email" name="tenant[email]" class="form-control" placeholder="Email" value="" required>
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <div class="form-group">
                    <label>
                      Phone Number
                    </label>
                    <input type="text" id="tenant_phone_number" name="tenant[phone_number]" class="form-control" placeholder="Phone Number" value="" required>
                  </div>
    
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" id="addTenantBtn">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>

      <!-- Modal Adjust Summary -->
    <div class="modal fade" id="modalAdjustSummary" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form id="search-address-form" method="post" action="/property/adjust_summary/">
          <input type="hidden" name="_csrf" value="<%= token %>">
          <input type="hidden" name="property[id]" value="<%= property.id%>">
          <div class="modal-content bg-lighter">
            <div class="modal-header">
                <!-- Header -->
              <h3 class="modal-title">Add Property Value</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
    
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Current Valuation
                    </label>
                    <div class="input-group input-group-merge mb-3">
                      <input type="text" onkeypress="return isNumberKey(event)" name="property[current_value]" id="property_current_value" class="form-control form-control-prepended number" placeholder="" value="<%=property.current_value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>" required>
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>£</span>
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center">
                  <button type="button" class="btn btn-primary" id="estimatePropertyBtn" data-property="<%=JSON.stringify(property)%>">
                    <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span> 
                    Use Avenue Estimate 
                  </button>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-12 col-md-6">
                  
                  <div class="form-group">
                    <label>
                      Annual Income
                    </label>
                    <div class="input-group input-group-merge mb-3">
                      <input type="text" name="property[rental_income]" class="form-control form-control-prepended" placeholder="<%= property.rental_income.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>" value="" required readonly>
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>£</span>
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
               
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>
                      Rental Yield % 
                    </label>
                    <input type="text" name="property[rental_yield]" class="form-control " placeholder="<%= property.rental_yield.toFixed(2)%>" value="" required readonly>
                 
                  </div>
    
                </div>
              </div> -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <% include ../partials/topnav %>
  
    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

      <!-- HEADER -->
      <div class="header">
        <div class="container">
          
          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-auto">
                <div class="avatar avatar-lg">
                  <img src="<%=property.image ? '/' + property.image : '/img/avatars/projects/project-1.jpg'%>" alt="..." class="card-img-top thumb-image">
                </div>
              </div>
              <div class="col ml-n3 ml-md-n2">
                <h6 class="header-pretitle">
                  Property
                </h6>
                <h1 class="header-title">
                  <%= property.address%>, <%= property.city%>
                </h1>
              </div>
              <a href="/property/detail/<%=property.id%>" class="btn btn-primary d-block d-md-inline-block lift">
                Edit property
              </a>
            </div> 
            <div class="row align-items-center">
              <div class="col">
                <ul class="nav nav-tabs nav-overflow header-tabs">
                  <li class="nav-item">
                    <a href="javascript:void(0)" data-href="#overview" class="nav-link overview-tab">
                      Overview
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" data-href="#units" class="nav-link unit-tab"  <% if (total_units == 1) { %> data-unit="<%=property.tenancies[0].id%>" <% }%>>
                      <% if (total_units > 1) { %> Units <% }%> <% if (total_units == 1) { %> Tenancy <% }%> <% if (property.tenancies.length > 1) {%><span class="badge badge-pill badge-soft-secondary"><%=property.tenancies.length%></span><% }%>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" data-href="#income_expenses" data-toggle="tab" role="tab" class="nav-link overview-tab">
                      Income & Expenses
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" data-href="#documents" data-toggle="tab" role="tab" class="nav-link overview-tab">
                      Documents <span class="badge badge-pill badge-soft-secondary doc_cnt"><%=documents.length%></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div> <!-- / .header -->

      <!-- CONTENT -->
      <div class="container">
        <div class="tab-content">
          <div class="tab-pane fade" id="overview" role="tabpanel">
                  
            <div class="row">
              <div class="col-12">
                 <div class="card">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col">
                        <h4 class="card-header-title">
                          Summary
                        </h4>
                      </div>
                      <div class="col-auto">
                        <a href="/property/detail/<%= property.id%>" class="btn btn-sm btn-white">
                          Adjust
                        </a>
                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="row col-12 no-gutters position-relative">
                    <div class="col-sm-12 col-lg-8 mb-0 border-right p-4 text-muted">
                      <div class="d-flex flex-wrap text-x">
                        <div class="flex-1 text-grey-dark">
                          <div class="pb-4 d-flex align-items-center">
                            <div class="pr-4">
                              <div class="d-flex align-items-center text-teal">
                                <div class="w-2 h-2 bg-grey">
                                </div>
                              </div>
                            </div>
                            <%=property.type%>
                          </div>
                          <div class="pb-4 d-flex align-items-center">
                            <div class="pr-4">
                              <div class="d-flex align-items-center text-teal">
                                <div class="w-2 h-2 bg-grey"></div>
                              </div>
                            </div>
                            <span class="text-grey"> <%=property.tenancies.length%> current tenancies </span>
                          </div><!---->
                          <div class="pb-4 d-flex align-items-center">
                            <div class="pr-4">
                              <div class="d-flex align-items-center text-teal">
                                <div class="w-2 h-2 bg-grey"></div>
                              </div>
                            </div> 
                            Rent P.A: £<%=property.rental_income.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                          </div>
                        </div>
                        <div class="flex-1 text-grey-dark">
                          <div class="pb-4 d-flex align-items-center ng-star-inserted">
                            <div class="pr-4">
                              <div class="d-flex align-items-center text-teal">
                                <div class="w-2 h-2 bg-grey"></div>
                              </div>
                            </div> 
                            <%=property.bedrooms%> bedrooms
                          </div>
                          <div class="pb-4 d-flex align-items-center ng-star-inserted">
                            <div class="pr-4">
                              <div class="d-flex align-items-center text-teal">
                                <div class="w-2 h-2 bg-grey"></div>
                              </div>
                            </div> 
                            <%=property.bathrooms%> bathrooms
                          </div>
                          <% if (property.ownership) {%>
                          <div class="pb-4 d-flex align-items-center ng-star-inserted">
                            <div class="pr-4">
                              <div class="d-flex align-items-center text-teal">
                                <div class="w-2 h-2 bg-grey"></div>
                              </div>
                            </div> 
                            <%=property.ownership%>
                          </div>
                          <% } %>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                      <div class="h-100 d-flex <%= property.current_value > 0 ? 'cursor-hand': '' %> property-value-block text-center justify-content-center align-items-center p-4">
                        <% if (property.current_value == 0) { %>
                        <button class="btn btn-sm btn-white" data-toggle="modal" data-target="#modalAdjustSummary">
                          <i class="fe fe-plus font-weight-bold"></i> Add Value/Price
                        </button>
                        <% } else { %>
                        <div>
                          <h6 class="card-title text-uppercase text-muted mt-2">
                             Property Value
                           </h6>
                           <span class="h1">
                             £<%=property.current_value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                           </span>
                        </div>
                        <% } %>
                      </div>
                      <% if (property.current_value > 0) { %>
                      <button class="btn summary-edit-btn lift" data-val="<%=property.current_value%>">
                        <span class="fe fe-edit-3"></span>
                      </button>
                      <% } %>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-xl-8">
                <div class="card">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col">
                        <h4 class="card-header-title">
                          Occupancy
                        </h4>
                      </div>
                      <div class="col-auto">
                        <button class="btn btn-sm btn-white" data-toggle="modal" data-target="#modalAddNewUnit">
                          Manage
                        </button>
                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="card-body">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-4 text-center border-right">
                        <div id="occupancyChart" style="width:250px; height:200px;"></div>
                      </div>
                      <div class="col-4 text-center border-right">
                        <!-- Heading -->
                        <h6 class="card-title text-muted text-uppercase mt-2">
                          Units in total
                        </h6>
                        <span class="h2">
                          <%=total_units%>
                        </span>
                      </div>
                      <div class="col-4 text-center">
                        <!-- Heading -->
                        <h6 class="card-title text-uppercase text-muted mt-2">
                          Vacant
                        </h6>
                        <span class="h2">
                          <%=vacant_cnt%>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                 <div class="card">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col mt-2 mb-2">
                        <h4 class="card-header-title">
                          Yield & Cashflow
                        </h4>
                      </div>
                      <div class="col-auto">
                        <select class="form-control text-right" id="cashflowDateFilter" data-toggle="select" data-options='{"placeholder": "Select a frequency", "minimumResultsForSearch": "Infinity" }' required style="max-width: 250px;">
                          <option></option>
                          <option value="Current Month">Current Month</option>
                          <option value="Previous Month">Previous Month</option>
                          <option selected value="YTD">YTD</option>
                          <option value="Last Full Year">Last Full Year</option>
                          <option  value="All Time">All Time</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="card-body my-4">
                    <div class="row align-items-center justify-content-center mb-6">
                      <div class="col-4 text-center border-right">
                        <span class="h2 font-medium first-gross-yield">
                        <%=gross_yield%> % 
                        </span>
                        <div class="text-uppercase text-muted text-ss">
                          Gross Yield
                        </div>
                      </div>
                      <div class="col-4 text-center border-right">
                        <span class="h2 font-medium first-net-yield">
                        <%=net_yield%> %  
                        </span>

                        <div class="text-uppercase text-muted text-ss">Net Yield</div>
                      </div>
                      <div class="col-4 text-center">
                        <!-- Heading -->
                        <span class="h2 font-medium first-expense-ratio">
                         <%=operating_expense_ratio%> %
                        </span>
                        <div class="text-uppercase text-muted text-ss">
                          Operating Expense Ratio
                        </div>
                      </div>
                    </div>

                    <div class="row align-items-center justify-content-center">
                      <div class="col-4 text-center border-right">
                        <!-- Heading -->
                        <span class="h2 font-medium first-total-income">
                          <span class="text-success h2">+£</span> <%= total_income.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                        </span>
                        <div class="text-uppercase text-muted text-ss">
                          Total Income
                        </div>
                      </div>
                      <div class="col-4 text-center border-right">
                        <!-- Heading -->
                        <span class="h2 font-medium first-total-expenses">
                         <span class="text-danger h2">-£</span> <%= Math.abs(total_expenses).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                        </span>
                        <div class="text-uppercase text-muted text-ss">
                          Total Expenses
                        </div>
                      </div>
                      <div class="col-4 text-center">
                        <!-- Heading -->
                        <span class="h2 font-medium first-net-income">
                          <% if (net_profit > 0) {%>
                            <span class="text-success h2">+£</span> <%= net_profit.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') %>
                          <% } else {%>
                            <span class="text-danger h2">-£</span> <%= net_profit.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') %>
                          <% } %>
                        </span>
                        <div class="text-uppercase text-muted text-ss">
                          NET Income
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    			
              <div class="col-12 col-xl-4">
                <div class="card">
                    <div class="card-header">
                      <div class="row align-items-center">
                        <div class="col">
                          <h4 class="card-header-title">
                            Ownership Summary
                          </h4>

                        </div>
                        <div class="col-auto">

                          <!-- Button -->
                          <a href="#" class="btn btn-sm btn-white ownership-summary-edit">
                            Edit
                          </a>
                      
                        </div>
                      </div> <!-- / .row -->
                    </div>
  				  
                  <div class="card-body ownership-block">
                    <div class="ownership-content-block">
                      <div class="border-bottom">
                        <div id="loanContainer" class="" style="max-width: 310px; height: 120px; margin: 0 auto;"></div>
                      </div>
                      <div class="row">
                        <div class="col text-center border-right mt-4 px-3">
                          <div class="mb-2"><span class="text-success">●</span>&nbsp;Equity</div>
                          <div class="h3 mb-0">£<span class="property_equity"></span></div>
                        </div>
                        <div class="col text-center mt-4 px-3">
                          <div class="mb-2"><span class="text-danger">●</span>&nbsp;Debt</div>
                          <div class="h3 mb-0">£<span class="property_debt"></span></div>
                        </div>
                      </div>
                    </div>
                    <div class="ownership-empty-block">
                      <div>No loan information provided</div>
                      <button class="btn btn-sm btn-outline-dark addloan-btn">Add a loan</button>
                    </div>
                  </div>
                </div>

                <!-- Weekly Hours -->
                <div class="card">
                  <div class="card-header">
                  
                    <!-- Title -->
                    <h4 class="card-header-title">
                      Location
                    </h4>

                  </div>
                  <div class="card-body">
                  
                  <div class="embed-responsive embed-responsive-21by9 rounded">
                    <div class="embed-responsive-item" id="map" data-toggle="cmap" data-option='{"center": [<%= property.lng%>, <%= property.lat%>], "zoom": 12, "markers": [{"lng":<%= property.lng%>, "lat":<%= property.lat%>}]}'></div>
                  </div>

                  </div>
                </div>
  			  
                <!-- Latest Files -->
                <div class="card">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col">
                      
                        <!-- Title -->
                        <h4 class="card-header-title">
                          Latest Files
                        </h4>

                      </div>
                      <div class="col-auto">

                        <!-- Link -->
                        <a href="/property/documents" class="small">View all</a>
                      
                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="card-body">
                    <% documents.forEach( document => { %>
                      <% var date = new Date(document.created_at); var uploaded_at = date.getDate() + '/' +  date.getMonth()+1 + '/' + date.getFullYear();%>
                      <div class="row align-items-center document-item">
                        <div class="col-auto">
                        
                          <!-- Avatar -->
                          <a href="/<%=document.path%>" class="avatar">
                            <div class="avatar-title rounded bg-white text-secondary">
                              <span class="fe fe-folder" style="font-size: 2rem;"></span>
                            </div>
                          </a>

                        </div>
                        <div class="col ml-n2">

                          <!-- Title -->
                          <h4 class="card-title mb-1 document-name">
                            <a href="/<%=document.path%>" target="_blank">
                              <%=document.filename %>
                            </a>
                          </h4>

                          <!-- Time -->
                          <p class="card-text small text-muted">
                            <i class="fe fe-clock"></i>&nbsp;<%=uploaded_at %>
                          </p>
                        
                        </div>

                        <div class="col-auto">
                          <div class="dropdown">
                            <a href="#!" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a href="#!" class="dropdown-item delete-document" data-id="<%=document.id %>">
                                Delete
                              </a>
                            </div>
                          </div>
                        </div>
                      <hr>
                      </div> <!-- / .row -->

                    <% }) %>
                  </div> <!-- / .card-body -->
                </div> <!-- / .card -->
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="units" role="tabpanel">
            <div class="col-12">
              <button class="btn btn-primary lift mb-3 btn-add-unit" data-toggle="modal" data-target="#modalAddNewUnit">
                Add a unit
              </button>
              <div class="units-list">
                <% property.tenancies.forEach( function(unit){ %>
                  <% if (unit.rent_frequency == 'Vacant') {%>
                    <div class="card">
                      <div class="card-body">
                        <div class="row align-items-center unit-item">
                          <div class="col-auto">
                        
                            <!-- Avatar -->
                            <h1 class="mb-0 avatar avatar-lg">
                              <img src="/img/icons/unit.png" class="avatar-img">
                            </h1>
        
                          </div>
                          <div class="col-4">
        
                            <!-- Title -->
                            <h4 class="card-title mb-1">
                              <a href="#" class="detail-unit" data-unit="<%=JSON.stringify(unit)%>"><%=property.address%>, <%=property.city%>: <%= unit.description%></a>
                            </h4>
        
                            <!-- Time -->
                            <p class="card-text small text-muted">
                              Vacant &nbsp;&nbsp;●&nbsp; &nbsp; <a href="#" class="edit-unit" data-property="<%=property.id%>" data-unit='<%= JSON.stringify(unit)%>'>Add a tenancy</a>
                            </p>
                          </div>
                          <div class="col-4">
                            <!-- Title -->
                            <h4 class="card-title text-muted mb-1">
                              Not Collecting Rent
                            </h4>
                            
                          </div>
                          <div class="col-2 text-muted">
                            <% if (unit.tenants.length == 0) { %>
                              No Tenants
                            <% } %>
                            <% if (unit.tenants.length == 1) { %> 
                              1 Tenant
                            <% } %>
                            <% if (unit.tenants.length > 1) { %> 
                              <%=unit.tenants%> Tenants
                            <% } %>
                        
                          </div>
                          <div class="col-auto ml-auto">
                            <div class="dropdown">
                              <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fe fe-more-vertical"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item edit-unit" data-unit='<%=JSON.stringify(unit)%>'>
                                  Edit
                                </a>
                                <a href="#!" class="dropdown-item delete-unit action-unit" data-block="units" data-unit="<%=unit.id%>">
                                  Remove
                                </a>
                              </div>
                          </div>
                          </div>
                        </div> <!-- / .row -->
                          <!-- Divider -->
                      </div>
                    </div>
                  <% } else {%>
                  <div class="card">
                    <div class="card-body">
                      <div class="row align-items-center unit-item">
                        <div class="col-auto">
                        
                            <!-- Avatar -->
                            <h1 class="mb-0 avatar avatar-lg">
                              <img src="/img/icons/unit.png" class="avatar-img">
                            </h1>
        
                          </div>
                        <div class="col-4">
      
                          <!-- Title -->
                          <h4 class="card-title mb-1">
                            <a href="#" class="detail-unit" data-unit="<%=JSON.stringify(unit)%>"><%=property.address%>, <%=property.city%>:<%= unit.description%></a>
                          </h4>
      
                          <!-- Time -->
                          <p class="card-text small text-muted">
                            <span class="text-success mr-2">●</span>Active Tenancy
                          </p>
                        </div>
                        <div class="col-4 text-muted">
                          <!-- Title -->
                          <h4 class="card-title mb-1">
                            <% const freq = {
                                Daily: 365,
                                Weekly: 52,
                                Fortnightly: 26,
                                Monthly: 12,
                                Vacant: 0,
                              }; 
                              let price = (freq[unit.rent_frequency] * parseFloat(unit.rent_price) / 12).toFixed(2); let rent_price_freq = parseFloat(price) > 0 ? `£${price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')} per month`: '';%> 
                            <%= rent_price_freq%>
                          </h4>
                          
                        </div>
                        <div class="col-2 text-muted">
                          <% if (unit.tenants.length == 0) { %>
                            No Tenants
                          <% } %>
                          <% if (unit.tenants.length == 1) { %> 
                            1 Tenant
                          <% } %>
                          <% if (unit.tenants.length > 1) { %> 
                            <%=unit.tenants%> Tenants
                          <% } %>

                        </div>
                        <div class="col-auto ml-auto">
                          <div class="dropdown">
                            <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a href="#!" class="dropdown-item edit-unit" data-unit='<%=JSON.stringify(unit)%>'>
                                Edit
                              </a>
                              <a href="#!" class="dropdown-item delete-unit action-unit"  data-block="units" data-unit="<%=unit.id%>">
                                Remove
                              </a>
                            </div>
                        </div>
                        </div>
                      </div> <!-- / .row -->
                        <!-- Divider -->
                    </div>
                  </div>
                  <% } %>
                <% })%>
              </div>
              <div class="unit-detail-section d-none">
                <% if (property.units.length > 1) { %>
                  <button class="btn btn-primary back-to-units-list lift mb-3">
                    Back to units
                  </button>
                <% } %>

                <div class="card">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col">

                        <!-- Title -->
                        <h4 class="card-header-title">
                          <span class="unit-name">Single Unit</span> <span class="unit-badge"></span>
                        </h4>

                      </div>
          
                      <div class="col-auto">

                        <!-- Button -->
                        <a href="#!" class="btn btn-sm btn-white edit-unit update-detail" data-unit="">
                          Update details
                        </a>
                  
                      </div>
                   
                    </div> <!-- / .row -->
                  </div>
                  <div class="card-body row">
                    <div class="col-sm-12 col-lg-8 text-muted">
                      <div class="d-flex flex-wrap text-x">
                        <div class="flex-1 text-grey-dark">
                          <div class="pb-4 d-flex align-items-center">
                            <div class="pr-4">
                              <div class="d-flex align-items-center text-teal">
                                <div class="w-2 h-2 bg-grey">
                                  
                                </div>
                              </div>
                            </div>
                            <div class="unit-rent-section"></div>
                          </div>
                           <div class="pb-4 d-flex align-items-center">
                            <div class="pr-4">
                              <div class="d-flex align-items-center text-teal">
                                <div class="w-2 h-2 bg-grey">
                                  
                                </div>
                              </div>
                            </div>
                            <div class="unit-deposit-section"></div>
                          </div>
                        </div>
                       
                        <div class="flex-1 text-grey-dark">
                          <div class="pb-4 d-flex align-items-center">
                            <div class="pr-4">
                              <div class="d-flex align-items-center text-teal">
                                <div class="w-2 h-2 bg-grey">
                                  
                                </div>
                              </div>
                            </div>
                            <div class="unit-tenants"></div>
                          </div>
                           <div class="pb-4 d-flex align-items-center">
                            <div class="pr-4">
                              <div class="d-flex align-items-center text-teal">
                                <div class="w-2 h-2 bg-grey">
                                  
                                </div>
                              </div>
                            </div>
                            <span class="unit-start_date"></span> <i style="font-weight: bold;">~</i> <span class="unit-end_date"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>

                <div class="card">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col">
                        <!-- Title -->
                        <h4 class="card-header-title">
                          Tenants
                        </h4>
                      </div>
                      <div class="col-auto">
                        <!-- Button -->
                        <a href="#!" class="btn btn-sm btn-white add-tenant">
                          Add
                        </a>
                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="card-body row tenant-list">
                   
                  </div> 
                </div>

                <div class="card">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col">

                        <!-- Title -->
                        <h4 class="card-header-title">
                          Documents
                        </h4>

                      </div>
          
                      <div class="col-auto">

                        <!-- Button -->
                        <a href="#!" class="btn btn-sm btn-white modal-upload modal-unit" data-unit="" data-property="<%=JSON.stringify(property)%>">
                          Upload
                        </a>
                  
                      </div>
                   
                    </div> <!-- / .row -->
                  </div>
                  <div class="card-body">
                    <ul class="list-group list-group-lg list-group-flush list my-n4 unit-document-list">
                      
                    </ul>
                  </div> 
                </div>

                <div class="card">
                  <div class="card-body">
                    <a href="#" class="btn btn-danger lift action-unit btn-unit-delete" data-block="units">
                      Delete Unit
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="income_expenses" role="tabpanel">
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
                    <h4 class="card-header-title">
                      Income & Expenses
                    </h4>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row align-items-center justify-content-center">
                  <div class="col-12 col-md-4 text-center border-right">
                    <div id="incomeExpensesChart" style="width:250px; height:200px;" data-value="<%=expenses_chart_data%>"></div>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="row">
                      <div class="col-6 text-center border-right">
                        <!-- Heading -->
                        <span class="h2 font-medium">
                          <span class="text-success h2">+£</span> <%= total_income.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                        </span>
                        <h6 class="card-title text-muted text-uppercase mt-2">
                          Total Income
                        </h6>
                      </div>
                      <div class="col-6 text-center">
                        <!-- Heading -->
                        <span class="h2 font-medium">
                          <span class="text-danger h2">-£</span> <%= Math.abs(total_expenses).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                        </span>
                        <h6 class="card-title text-uppercase text-muted mt-2">
                          Total Expenses
                        </h6>
                      </div>
                    </div>

                    <div class="row mt-5">
                      <div class="col-6 text-center border-right">
                        <!-- Heading -->
                        <span class="h2 font-medium">
                          <%=operating_expense_ratio%><span class="text-success h2">%</span> 
                        </span>
                        <h6 class="card-title text-muted text-uppercase mt-2">
                          Operating Expenses Ratio
                        </h6>
                      </div>
                      <div class="col-6 text-center">
                        <!-- Heading -->
                        <span class="h2 font-medium">
                          <span class="text-success h2">+£</span> <%=net_profit.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                        </span>
                        <h6 class="card-title text-uppercase text-muted mt-2">
                          Net Operating Income
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

             <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
                    <h4 class="card-header-title">
                      Expenses Breakdown
                    </h4>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-12 col-md-4 text-center border-right">
                    <div id="expensesBreakdownChart" style="width:250px; height:200px;"></div>
                  </div>
                  <div class="col-12 col-md-8 pl-4 mb-3">
                    <% Object.keys(expenses_breakdown).forEach( function(key, i) { %>
                      <% if (expenses_breakdown[key] > 0) { %>
                        <div class="row">
                          <div class="col-4 mr-auto">
                            <div class="pb-2 d-flex align-items-center">
                              <div class="pr-3">
                                <div class="d-flex align-items-center text-teal">
                                  <div class="w-2 h-2" style="background: <%=colors[i]%>">
                                  </div>
                                </div>
                              </div>
                              <%=key%>
                            </div>
                          </div>
                          <div class="col-auto">
                            (<%=breakdown_percent[key] || 0 %>%)&nbsp;
                            £<%=expenses_breakdown[key].toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                          </div>
                        </div>
                      <% } %>
                    <% }) %>
                    <div class="row border-top pt-2">
                      <div class="col-4 mr-auto">
                        Total Expenses
                      </div>
                      <div class="col-auto">
                        £<%=Math.abs(total_expenses).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
                    <h4 class="card-header-title">
                      Recent Transactions
                    </h4>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row align-items-center justify-content-center">
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="documents" role="tabpanel">
            <% include ./_documents %>
          </div>
		    </div>
      </div>
      
    </div> <!-- / .main-content -->

    <input type="hidden" name="documents" id="hidden_documents" value="<%=JSON.stringify(documents)%>">
    <input type="hidden" name="units" id="hidden_units" value="<%=JSON.stringify(property.tenancies)%>">
    <input type="hidden" id="hidden_property" value="<%=JSON.stringify(property)%>">
    <% include ../partials/modals %>
    <!-- JAVASCRIPT
    ================================================== -->
    <% include ../partials/scripts %>

    <script type="text/javascript">
      const _unit_id = '<%=unit_id%>';
      let _tabs = '<%=tabs%>';
      const _property_id = '<%=property_id%>';
      let property = JSON.parse($('#hidden_property').val());

      // loan
      let debt = 0;
      let equity = 0;
      
      let documents = [];
      let units = [];
      try {
        documents = JSON.parse($('#hidden_documents').val());
        units = JSON.parse($('#hidden_units').val());
        items = documents;
      } catch(e){}

      const gotoTab = (tabs) => {
        $('.tab-pane').removeClass('active show');
        $('.overview-tab').removeClass('active');
        $('#'+tabs).addClass('active show');
        $(`a[data-href="#${tabs}"]`).addClass('active');
      }

      const drawLoanChart = (data) => {
        Highcharts.chart('loanContainer', {
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: 0,
              plotShadow: false,
              marginTop: 0,
              marginBottom: 0,
              marginLeft: 0,
              marginRight: 0
          },
          title: {
              text: `${data.percent}%`,
              align: 'center',
              verticalAlign: 'middle',
              y: 15
          },
          tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  dataLabels: {
                      enabled: false,
                      distance: -30,
                      style: {
                          fontWeight: 'bold',
                          color: 'white'
                      }
                  },
                  startAngle: -90,
                  endAngle: 90,
                  center: ['50%', '55%'],
                  size: '120%'
              }
          },
          series: [{
            type: 'pie',
            name: '',
            innerSize: '50%',
            data: [
                { name: '', y: data.equity, color: '#41d3bd'},
                { name: '', y: data.debt, color: '#ef476f' },
            ]
          }]
        }, function(){
          this.setSize(this.plotSizeX, this.plotSizeX-100)
        });
      }

      const filterCashflowByDate = (date) => {
        const token = $('meta[name="csrf"]').attr('content');
          fetch('/property/overview/cashflow/date', {
              credentials: 'same-origin', // <-- includes cookies in the request
              headers: {
                'CSRF-Token': token, // <-- is the csrf token as a header
                'Content-Type': 'application/json'
              },
              method: 'POST',
              body: JSON.stringify({
                property: {
                  id: $('input[name="property[id]"]').val(),
                  date
                }
              })
          })
          .then(response => response.json())
          .then(function(res) {
            if (res.status == 'ok') {
              let net_income = '';
              if (res.net_profit > 0) {
                net_income = `<span class="text-success h2">+£</span> ${res.net_profit.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}`;
              } else { 
                net_income = `<span class="text-danger h2">-£</span>  ${res.net_profit.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}`
              }
              $('.first-net-income').html(net_income);
              $('.first-total-income').html(`<span class="text-success h2">+£</span> ${res.total_income.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}`)
              $('.first-total-expenses').html(`<span class="text-danger h2">-£</span> ${Math.abs(res.total_expenses).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}`)  
              
              $('.first-gross-yield').html(`${res.gross_yield} %`);          
              $('.first-net-yield').html(`${res.net_yield} %`);          
              $('.first-expense-ratio').html(`${res.operating_expense_ratio} %`);    
            }
          })
          .catch(error => {
            console.log(error);
          });
      }

      $(function() {
        // Create the chart
        var colors = Highcharts.getOptions().colors;
        Highcharts.chart('occupancyChart', {
          chart: {
              type: 'pie'
          },
          title: {
              text: ''
          },
          plotOptions: {
            series: {
                dataLabels: {
                    enabled: false,
                    format: '{point.name}: {point.y:.1f}%'
                }
            }
          },
          tooltip: {
              headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
              pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
          },
          series: [{
            name: "",
            size: '100%',
            innerSize: '60%',
            colorByPoint: true,
            data: [
                {
                    name: "Vacant",
                    color: colors[1],
                    y: <%=vacant_value%>,
                    drilldown: "Vacant"
                },
                {
                    name: "Tenancy",
                    color: colors[4],
                    y: <%=tenancy_value%>,
                    drilldown: "Tenancy"
                }]
              }]
          });

          // Income Expenses Chart
          Highcharts.chart('incomeExpensesChart', {
            chart: {
                type: 'pie'
            },
            title: {
                text: ''
            },
            plotOptions: {
              series: {
                  dataLabels: {
                      enabled: false,
                      format: '{point.name}: {point.y:.1f}%'
                  }
              }
            },
            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
            },
            series: [{
              name: "",
              size: '100%',
              innerSize: '0%',
              colorByPoint: true,
              data: [
                  {
                      name: "Income",
                      color: '#41d3bd',
                      y: <%=income_percent%>,
                      drilldown: "Income"
                  },
                  {
                      name: "Expenses",
                      color: '#ef476f',
                      y: <%=expenses_percent%>,
                      drilldown: "Expenses"
              }]
            }]
        });

        // Expenses Breakdown Chart
        const expenses_chart_data = $('#incomeExpensesChart').data('value');
        Highcharts.chart('expensesBreakdownChart', {
          chart: {
              type: 'pie'
          },
          title: {
              text: ''
          },
          plotOptions: {
            series: {
                dataLabels: {
                    enabled: false,
                    format: '{point.name}: {point.y:.1f}%'
                }
            }
          },
          tooltip: {
              headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
              pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>£{point.y:.0f}</b> of total<br/>'
          },
          series: [{
            name: "",
            size: '100%',
            innerSize: '0%',
            colorByPoint: true,
            data: expenses_chart_data
          }]
        });

        $('.overview-tab').click(function(e){
          e.preventDefault();
          const new_tabs =  $(this).attr('data-href').replace('#', '');
          if (!_tabs || _tabs != new_tabs) {
            location.href = '/property/overview/' + _property_id  + '/' + new_tabs;
          }
        });

        $('.unit-tab').click(function(e){
          e.preventDefault();
          if (units.length == 1) {
            location.href = '/property/overview/' + _property_id  + '/units/' + $(this).data('unit');
          } else {
            location.href = '/property/overview/' + _property_id  + '/units';
          }
        });

        
        $('.detail-unit').click(function(e) {
          e.preventDefault();
          const unit = $(this).data('unit');
          $('.unit-detail-section').removeClass('d-none');
          $('.units-list').addClass('d-none');
          $('.btn-add-unit').addClass('d-none');

          $('.update-detail').attr('data-unit', JSON.stringify(unit));
          $('.modal-unit').attr('data-unit', JSON.stringify(unit));
          const unit_documents = documents.filter(document => document.unit_id == unit.id);
          unit.tenants = unit.tenants ? unit.tenants : [];
          let tenants_cnt = unit.tenants.length;
          tenants_cnt = tenants_cnt == 1 ?  tenants_cnt + ' Tenant' : tenants_cnt + ' Tenants';

          if (units.length > 1) {
            $('.unit-name').text(unit.description);
          }
          if (unit.deposit) {
            $('.unit-deposit-section').html(`£<span class="unit-deposit">${toComma(unit.deposit)}</span> Deposit`);
          } else {
            $('.unit-deposit-section').text('No deposit')
          }
          if (unit.rent_price) {
            $('.unit-rent-section').html(`£<span class="unit-rent">${toComma(unit.rent_price)}</span> <span class="unit-frequency">${unit.rent_frequency}</span> Rent`);
            $('.unit-badge').html('<span class="badge badge-primary font-weight-bolder p-2 ml-2">Active</span>');
          } else {
            $('.unit-rent-section').text('No rent price ');
            $('.unit-badge').html('<span class="badge badge-danger font-weight-bolder p-2 ml-2">Inactive</span>');
          }

          if (unit.tenants.length) {
            $('.unit-tenants').text(tenants_cnt);
          } else {
            $('.unit-tenants').text('No Tenant');
          }
          $('.unit-start_date').text(unit.start_date);
          $('.unit-end_date').text(unit.end_date);
          $('input[name="unit[id]"]').val(unit.id);

          // display tenants section
          $('.tenant-list').empty();
          unit.tenants.map(tenant => {
            addTenant(tenant, unit);
          });

          $(document).on('click', '.delete-tenant', function() {
            confirmDialog("Are you sure?", (ans) => {
              if (ans) {
                const _csrf = $('input[name="_csrf"]').val();
                const property_id = $('input[name="property[id]"]').val();
                const unit_id = $('input[name="unit[id]"]').val();
                const tenant_id = $(this).data('id');
                var parent = $(this).parents('.tenant-item');
                fetch(new Request('/property/unit/tenant/delete', {method: 'POST', headers:{'Content-Type': 'application/json'}, body: JSON.stringify({unit_id, property_id, tenant_id, _csrf})}))
                .then(response => response.json())
                .then(function(res) {
                  parent.remove();
                  if (res.cnt == 0) {
                    $('.tenant-list').append(`<div class="col-auto no-tenants"><p>There is no tenants yet</p></div>`);
                  }
                  let tenants_cnt = res.cnt == 1 ?  res.cnt + ' Tenant' : res.cnt + ' Tenants';
                  if (res.cnt) {
                    $('.no-tenants').remove();
                    $('.unit-tenants').text(tenants_cnt);
                  } else {
                    $('.unit-tenants').text('No Tenant');
                  }
                }).catch(function(text) {
                    console.log(text);
                });
              }
            });
          });

          $('.add-tenant').click(function() {
            $('#modalAddNewTenant').modal()
              .on('shown.bs.modal', function () {
                $('#tenant-modal-title').html('Add a New Tenant');
                $('#addTenantBtn').html('Add');
              });
          })

          $(document).on('click', '.edit-tenant', function() {
            const tenant_id = $(this).data('id');
            $('input[name="unit[id]"]').val($(this).data('unit'));
            $('input[name="tenant[id]"]').val(tenant_id);
            const tenant = $(this).data('tenant');
            $('#tenant_first_name').val(tenant.first_name);
            $('#tenant_last_name').val(tenant.last_name);
            $('#tenant_email').val(tenant.email);
            $('#tenant_phone_number').val(tenant.phone_number);
            $('#modalAddNewTenant').modal()
              .on('shown.bs.modal', function () {
                $('#tenant-modal-title').html('Edit a Tenant');
                $('#addTenantBtn').html('Update');
                $('#tenant_id').val(tenant_id);
              })
              .on('hidden.bs.modal', function () {
                $('#tenant-modal-title').html('Add a New Tenant');
                $('#addTenantBtn').html('Add');
                $('#tenant_first_name').val('');
                $('#tenant_last_name').val('');
                $('#tenant_email').val('');
                $('#tenant_phone_number').val('');
                $('#tenant_id').val();
              });
          });

          if (unit.tenants.length == 0) {
            $('.tenant-list').append(`<div class="col-auto no-tenants"><p>There is no tenants yet</p></div>`);
          }

          // display documents section
          $('.unit-document-list').empty();
          unit_documents.forEach(doc => {
            
            const date = new Date(doc.created_at);
            const uploaded_at = date.getDate() + '/' +  date.getMonth()+1 + '/' + date.getFullYear();
            let avatar = '<span class="fe fe-file" style="font-size: 2rem;"></span>';
            if (doc.mimetype.includes('image')) {
              avatar = `<img src="/${doc.path}" alt="document image preview" class="avatar"/>`;
            }
            $('.unit-document-list').append(`<li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a href="/${doc.path}" class="avatar" target="_blank">
                    <div class="avatar-title rounded bg-white text-secondary">
                      ${avatar}
                    </div>
                  </a>
                </div>
                <div class="col ml-n2">

                  <h4 class="card-title mb-1 name document-name document-lg-name">
                    <a target="_blank" href="/${doc.path}">${doc.filename}</a>
                  </h4>

                  <!-- Text -->
                  <p class="card-text small text-muted mb-1">
                    ${doc.display_name} &bull;${doc.tag}
                  </p>

                  <!-- Time -->
                  <p class="card-text small text-muted">
                    Uploaded on <time datetime="${uploaded_at}">${uploaded_at}</time>
                  </p>
                </div>
                <div class="col-auto">
                  
                  <!-- Button -->
                  <a href="/${doc.path}" target="_blank" class="btn btn-sm btn-white d-none d-md-inline-block">
                    View
                  </a>

                </div>
                <div class="col-auto">
                  
                  <!-- Dropdown -->
                  <div class="dropdown">
                    <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fe fe-more-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <button class="dropdown-item edit-document modal-upload modal-unit" data-property="" data-unit="" data-id="${doc.id}" data-property_id="${doc.property_id}" data-property_name="${doc.property_name}" data-unit_id="${doc.unit_id}" data-unit_name="${doc.unit_name}" data-tag="${doc.tag}" data-path="${doc.path}" data-size="${doc.size}" data-filename="${doc.filename}" data-mimetype="${doc.mimetype}">
                        Edit
                      </button>
                      <a class="dropdown-item delete-document" data-id="${doc.id}">
                        Delete
                      </a>
                    </div>
                  </div>
                </div>
              </div> 
              </li>`)
          });

          if (unit_documents.length == 0) {
            $('.unit-document-list').append(`<div class="col-auto no-documents"><p>There is no documents yet</p></div>`)
          }

          $('.modal-upload').attr('data-property', $('#hidden_property').val());
        });

        // if this page is called from tenancies, then go to unit detail
        if (_unit_id) {
          $('a[href="#units"]').click();
          var target;
          $('.detail-unit').map( (i, e) => {
            if (JSON.stringify($(e).data('unit')).includes(_unit_id)) {
              target = $(e);
            }
          })
          if (target) {
            target.click();
          }
        }

        if (_tabs) {
          gotoTab(_tabs);
        }

        if (!_tabs) {
          gotoTab('overview');
        }

        // Overview
        $('.back-to-units-list').click(function(e) {
          e.preventDefault();
          location.href = '/property/overview/' + _property_id  + '/units';
        });

        // Display documents section
        $('.btn-primary.modal-upload').addClass('modal-property');
        doPopulate();
        doPaginate();
        $('.modal-upload').attr('data-property', $('#hidden_property').val());
        $('.edit-document').addClass('modal-property').attr('data-property', $('#hidden_property').val());
        if (document.querySelector('.dropzone')) {
          Dropzone_init( document.querySelector('.dropzone'));
        }

        // Update loan
        $('input.property_debt').keyup(function(e){
          if ($(this).val()) {
            const loan = parseFloat($(this).val().replace(',', '') || 0);
            const current_value = parseFloat($('#current_value').val());
            $('.property_equity').val(current_value - loan);
          }
        });

        $(document).on('click', '.addloan-btn', function(e){
          $('#loan-modal-title').html('Add a Loan Value');
          $('#addLoanBtn').html('Add');
          $('#modalAddNewLoan input').val('');
          $('#on_loan').val('1');
          $('#off_loan').val('0');
          $('#modalAddNewLoan').modal();
        });

        $('.ownership-summary-edit').click(function(e){
          $('#loan-modal-title').html('Edit Ownership details');
          $('#addLoanBtn').html('Edit');
          $('.property_debt').val(debt.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
          $('.property_equity').val(equity.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
          if (property.has_loan) {
            $('#on_loan').prop('checked', true).trigger('click')
          } else {
            $('#off_loan').prop('checked', true).trigger('click')
          }
          $('input[name="property[lender]"]').val(property.lender)
          $('input[name="property[amount_borrowed]"]').val(property.amount_borrowed.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'))
          $('input[name="property[interest_rate]"]').val(property.interest_rate.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'))
          $('input[name="property[monthly_payment]"]').val(property.monthly_payment.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'))
          $('input[name="property[start_date]"]').val(property.start_date)
          $('input[name="property[maturity_date]"]').val(property.maturity_date)
          if (property.loan_updated_at) {
            $('#loanHelperUpdatedAt .update-at').text(moment(property.loan_updated_at).format('MM/DD/YYYY'))
          }
          $('#modalAddNewLoan').modal();
        });

        // update the loan value
        $('#add-loan-form').submit(function(e){
          e.preventDefault();
          const has_loan = Number($('input[name="property[has_loan]"]:checked').val())
          if (has_loan == 1) {
            debt = $('.property_debt').val().replace(',', '');
            equity = $('.property_equity').val();
          } else {
            debt = 0;
            equity = property.current_value
          }
          const data = {
            id: property.id,
            debt,
            equity,
            has_loan,
            lender: $('input[name="property[lender]"]').val(),
            amount_borrowed: $('input[name="property[amount_borrowed]"]').val().replace(',', ''),
            monthly_payment: $('input[name="property[monthly_payment]"]').val().replace(',', ''),
            interest_rate: $('input[name="property[interest_rate]"]').val().replace(',', ''),
            start_date: $('input[name="property[start_date]"]').val(),
            maturity_date: $('input[name="property[maturity_date]"]').val(),
            loan_updated_at: moment().format('YYYY-MM-DD HH:mm:ss')
          };

          const token = $('meta[name="csrf"]').attr('content');
          fetch('/property/loan/new', {
              credentials: 'same-origin', // <-- includes cookies in the request
              headers: {
                'CSRF-Token': token, // <-- is the csrf token as a header
                'Content-Type': 'application/json'
              },
              method: 'POST',
              body: JSON.stringify({
                  property: data
              })
          })
          .then(response => response.json())
          .then(function(res) {
            $('#modalAddNewLoan').modal('hide');
            if (res.status == 'ok') {
              equity = res.data.equity;
              debt = res.data.debt;
              drawLoanChart(res.data)
              property = res.data.newproperty;
              $('.property_debt').html(res.data.debt.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
              $('.property_equity').html(res.data.equity.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
              $('.ownership-content-block').show();
              $('.ownership-empty-block').hide();
            } else {
              $('.ownership-content-block').hide();
              $('.ownership-empty-block').show();
            }
          })
          .catch(error => {
            console.log(error);
          });
        })

        // diable input when having no loan
        $('input[name="property[has_loan]"]').change(function(){
          if ($(this).val() == 1) {
            $('#modalAddNewLoan input').prop('disabled', false)
          } else {
            $('#modalAddNewLoan input').prop('disabled', true)
          }
          $('#modalAddNewLoan input[name="property[has_loan]"]').prop('disabled', false)
        })

        // fetch loan value
        const token = $('meta[name="csrf"]').attr('content');
        fetch('/property/loan/all', {
            credentials: 'same-origin', // <-- includes cookies in the request
            headers: {
              'CSRF-Token': token, // <-- is the csrf token as a header
              'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify({
                property: {
                  id: $('input[name="property[id]"]').val()
                }
            })
        })
        .then(response => response.json())
        .then(function(res) {
          if (res.status == 'ok' && res.data.equity != 0) {
            debt = res.data.debt;
            equity = res.data.equity;
            $('.property_debt').val(res.data.debt.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
            $('.property_equity').val(res.data.equity.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
            $('.property_debt').html(res.data.debt.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
            $('.property_equity').html(res.data.equity.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
            drawLoanChart(res.data)
            $('.ownership-empty-block').hide();
          } else {
            $('.ownership-content-block').hide();
            $('.ownership-empty-block').show();
          }
        })
        .catch(error => {
          console.log(error);
        });

        filterCashflowByDate('YTD');
        // cashflow date filter
        $('#cashflowDateFilter').on('select2:select', function (e) {
          filterCashflowByDate(e.params.data.id);
        });
      });
    </script>
  </body>
</html>