<!doctype html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/topnav %>

    <div class="modal fade" id="modalAddNewUnit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form id="add-unit-form" method="post" action="/property/unit/update">
          <input type="hidden" name="_csrf" value="<%= token %>">
          <input type="hidden" id="property_id" name="property[id]" value="">
          <input type="hidden" name="unit[id]" value="">
          <input type="hidden" name="unit[tenants]" id="unit_tenants" value="">
          <div class="modal-content bg-lighter">
            <div class="modal-header">
              <h3 class="modal-title" id="unit-modal-title">Add a Tenancy</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
    
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Units
                    </label>
                    <input type="text" id="unit_description" name="unit[description]" class="form-control" placeholder="Description" value="" required>                   
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Deposit
                    </label>
                    <div class="input-group input-group-merge mb-3">
                      <input type="text" id="unit_deposit" onkeypress="return isNumberKey(event)"  name="unit[deposit]" class="form-control form-control-prepended number">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>£</span>
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Start Date
                    </label>
                    <input type="text" name="unit[start_date]" class="form-control" value=""  data-toggle="flatpickr" required autocomplete="off">
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      End Date (Optional)
                    </label>
                    <input type="text" id="unit_end_date" name="unit[end_date]" class="form-control" value=""  data-toggle="flatpickr">
                  </div>
    
                </div>
              </div> <!-- / .row -->
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Rent Price
                    </label>
                    <div class="input-group input-group-merge mb-3">
                      <input type="text" id="unit_rent_price" onkeypress="return isNumberKey(event)"  name="unit[rent_price]" class="form-control form-control-prepended number">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>£</span>
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Rent Frequency
                    </label>
                    <select class="form-control" id="unit_rent_frequency" name="unit[rent_frequency]" data-toggle="select" data-options='{"placeholder": "Select a frequency"}' required>
                      <option></option>
                      <option value="Daily">Daily</option>
                      <option value="Weekly">Weekly</option>
                      <option value="Fortnightly">Fortnightly</option>
                      <option value="Monthly">Monthly</option>
                    </select>
                  </div>
    
                </div>
              </div> <!-- / .row -->
              <div class="row">
                <div class="col-12 col-md-6">
                  <button type="submit" class="btn btn-outline-danger d-none btn-unit-delete action-unit">Delete this unit</button>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary addUnitBtn">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="modal  fade" id="modalAddNewUnitWithProperty" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form id="add-unit-with-property-form" method="post" action="/property/tenancies/new/">
          <input type="hidden" name="_csrf" value="<%= token %>">
          <input type="hidden" name="unit[tenants]" value="">
          <input type="hidden" name="unit[description]" value="">
          <div class="modal-content bg-lighter">
            <div class="modal-header">
                <!-- Header -->
              <h3 class="modal-title">Add a Tenancy</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label>
                      Property
                    </label>
                    <select class="form-control property-filter" name="property[id]" data-toggle="select" data-options='{"placeholder": "Select a property"}' required>
                      <option></option>
                      
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label class="unit-label">
                      Units
                    </label>
                    <select class="form-control unit-filter" name="unit[id]" data-toggle="select" data-options='{"placeholder": "Select a Unit"}'>
                      <option></option>
                    </select>  
                  </div>
    
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Deposit
                    </label>
                    <div class="input-group input-group-merge mb-3">
                      <input type="text" onkeypress="return isNumberKey(event)"  name="unit[deposit]" class="form-control form-control-prepended number">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>£</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Tenant
                    </label>
                    <input type="text" class="form-control form-control-prepended">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Start Date
                    </label>
                    <input type="text" name="unit[start_date]" class="form-control" value=""  data-toggle="flatpickr" required>
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      End Date (Optional)
                    </label>
                    <input type="text" name="unit[end_date]" class="form-control" value=""  data-toggle="flatpickr">
                  </div>
    
                </div>
              </div> <!-- / .row -->
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Rent Price
                    </label>
                    <div class="input-group input-group-merge mb-3">
                      <input type="text" onkeypress="return isNumberKey(event)"  name="unit[rent_price]" class="form-control form-control-prepended number" required>
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>£</span>
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Rent Frequency
                    </label>
                    <select class="form-control" name="unit[rent_frequency]" data-toggle="select" data-options='{"placeholder": "Select a frequency"}' required>
                      <option></option>
                      <option value="Daily">Daily</option>
                      <option value="Weekly">Weekly</option>
                      <option value="Fortnightly">Fortnightly</option>
                      <option value="Monthly">Monthly</option>
                    </select>
                  </div>
    
                </div>
              </div> <!-- / .row -->
              <div class="row">
                <div class="col-12 col-md-6">
                  <button type="submit" class="btn btn-outline-danger d-none btn-unit-delete action-unit">Delete this unit</button>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary addUnitBtn">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="main-content">

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="header">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">
                    <h1 class="header-title">
                      Tenancies
                    </h1>

                  </div>
                  <div class="col-auto">
                    <a href="#" class="btn lift btn-primary add-new-tenancy">
                      Add tenancy
                    </a>
                  </div>
                </div> 
                <div class="row align-items-center">
                  <div class="col">
                    
                    <!-- Nav -->
                    <ul class="nav nav-tabs nav-overflow header-tabs">
                     <!--  <li class="nav-item">
                        <a href="#all" data-toggle="tab" role="tab" class="nav-link tenancy-tab active">
                          All <span class="badge badge-pill badge-soft-secondary"><%=all_tenancies%></span>
                        </a>
                      </li> -->
                      <li class="nav-item">
                        <a href="#occupied" data-toggle="tab" role="tab" class="nav-link tenancy-tab active">
                          Active <span class="badge badge-pill badge-soft-secondary"><%=occupied_tenancies%></span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="#vacant" data-toggle="tab" role="tab" class="nav-link tenancy-tab">
                          Vacant Units <span class="badge badge-pill badge-soft-secondary"><%=vacant_tenancies%></span>
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>

            <input type="hidden" id="hidden_properties" value="<%= JSON.stringify(properties) %>">
            <input type="hidden" id="hidden_occupiedproperties" value="<%= JSON.stringify(occupied_properties) %>">
            <input type="hidden" id="hidden_vacantproperties" value="<%= JSON.stringify(vacant_properties) %>">

            <div class="tab-content">
              <!-- <div class="tab-pane fade active show" id="all" role="tabpanel">
                <div class="row" style="margin-bottom: 2rem;">
                  <div class="col-12 col-md-4">
                    <select class="form-control my-3 property-filter" style="min-width: 250px;" data-toggle="select"  data-options='{"placeholder": "All Properties", "width": "element"}' required>
                        <option></option>
                    </select>
                  </div>
                </div>
                <div class="all-tenancies">
                </div>
              </div> -->

              <div class="tab-pane fade active show" id="occupied" role="tabpanel">
                <div class="row" style="margin-bottom: 2rem;">
                  <div class="col-12 col-md-4">
                    <select class="form-control my-3 property-filter" style="min-width: 250px;" data-toggle="select"  data-options='{"placeholder": "All Properties", "width": "element"}' required>
                        <option></option>
                    </select>
                  </div>
                </div>
                <div class="occupied-tenancies">
                </div>
              </div>

              <div class="tab-pane fade" id="vacant" role="tabpanel">
                  <div class="row my-3">
                    <div class="col-12 col-md-4">
                      <select class="form-control my-3 property-filter" style="min-width: 250px;" data-toggle="select"  data-options='{"placeholder": "All Properties", "width": "element"}' required>
                          <option></option>
                      </select>
                    </div>
                  </div>
                  <div class="vacant-tenancies">
                  </div>
              </div>
            </div>
          </div>
        </div> <!-- / .row -->
		
          </div>
        </div> <!-- / .row -->
		
        </div>
		
      </div>
      
    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    <% include ../partials/scripts %>

    <script type="text/javascript">
      let properties = $('#hidden_properties').val();
      let occupiedProperties = $('#hidden_occupiedproperties').val();
      let vacantProperties = $('#hidden_vacantproperties').val();
      try {
        properties = JSON.parse(properties);
      } catch(e) { properties = [];}
      try {
        occupiedProperties = JSON.parse(occupiedProperties);
      } catch(e) { occupiedProperties = [];}
      try {
        vacantProperties = JSON.parse(vacantProperties);
      } catch(e) { vacantProperties = [];}

      items = properties;
      let allProperties = properties;
      let current_list = '.occupied-tenancies';
      const freq = {
        Daily: 365,
        Weekly: 52,
        Fortnightly: 26,
        Monthly: 12,
        Vacant: 0,
      };
      const displayAllTenancies = () => {
        $(current_list).empty();
        items.forEach( function(property) {
          property.tenancies.forEach(function(unit){
            let tenants = ''
            if (unit.tenants.length == 0) {
              tenants = '●&nbsp;No Tenants';
            } 
            if (unit.tenants.length == 1) {
             tenants = '●&nbsp;1 Tenant';
            } 
            if (unit.tenants.length > 1) { 
              tenants = `●&nbsp;${unit.tenants}Tenants`
            }
            let name = `${property.address}, ${property.city}`;
            if (property.tenancies.length > 1) {
              name += `: ${unit.description}`
            }
            let deleteUnit = ''
            if (property.tenancies.length > 0) {
              deleteUnit = `<a href="#!" class="dropdown-item delete-unit action-unit"  data-property="${property.id }" data-unit="${unit.id}">
                Delete unit
              </a>`
            }
            if (unit.rent_frequency == 'Vacant') {
              $(current_list).append(`
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row align-items-center unit-item">
                      <div class="col-auto">
                        <h1 class="mb-0 avatar avatar-md">
                          <img src="/img/icons/unit.png" class="avatar-img">
                        </h1>
                      </div>
                      <div class="col-4">
                        <h4 class="card-title mb-1">
                          <a href="/property/overview/${property.id}/units/${unit.id}" class="detail-unit">${name}</a>
                        </h4>
                        <p class="card-text small text-muted">
                          Vacant &nbsp;●&nbsp; <a href="#" class="edit-unit update-detail" data-property="${property.id}" data-unit='${JSON.stringify(unit)}'>Add a tenancy</a>
                        </p>
                      </div>
                      <div class="col-4">
                        <div class="card-title text-muted mb-1">
                          ●&nbsp;Not Collecting Rent
                        </div>

                      </div>
                      <div class="col-2 text-muted">
                        ${tenants}
                      </div>
                      <div class="col-auto ml-auto">
                        <div class="dropdown">
                          <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="#!" class="dropdown-item edit-unit" data-property="${property.id}" data-unit=${JSON.stringify(unit)}>
                              Add a tenancy
                            </a>
                            ${deleteUnit}
                          </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>`);
              } else {
                let price = (freq[unit.rent_frequency] * parseFloat(unit.rent_price) / 12).toFixed(2);
                let rent_price_freq = parseFloat(price) > 0 ? `<b>£${price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}</b> per month`: '';
                $(current_list).append(`
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row align-items-center unit-item">
                        <div class="col-auto">
                          <h1 class="mb-0 avatar avatar-md">
                            <img src="/img/icons/unit.png" class="avatar-img">
                          </h1>
                        </div>
                        <div class="col-4">
                          <h4 class="card-title mb-1">
                            <a href="/property/overview/${property.id}/units/${unit.id}" class="detail-unit">${name}</a>
                          </h4>
                          <p class="card-text small text-muted">
                            <span class="text-success mr-2">●</span><b>${moment(unit.start_date).format('DD MMM YY')}</b>&nbsp;<i style="font-weight: regular;">~</i>&nbsp;<b>${unit.end_date ? moment(unit.end_date).format('DD MMM YY') : ''}</b>
                          </p>
                        </div>
                        <div class="col-4">
                          <div class="card-title text-muted mb-1">
                            ${rent_price_freq}
                          </div>
                        </div>
                        <div class="col-2 text-muted">
                          ${tenants}
                        </div>
                        <div class="col-auto ml-auto">
                          <div class="dropdown">
                            <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a href="#!" class="dropdown-item edit-unit" data-property="${property.id}" data-unit='${JSON.stringify(unit)}'>
                                Edit
                              </a>
                              <a href="#!" class="dropdown-item action-unit" data-property="${property.id}" data-unit='${JSON.stringify(unit)}'>
                                Clear tenancy
                              </a>
                              ${deleteUnit}
                            </div>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>`)
            }
          });
        });
      }
      $(function(){

        // display property filter
        // var option = new Option('All', 'all', true, true);
        // $('.property-filter').append(option);
        allProperties.map(property => {
          var property_name = property.address + ', ' + property.city;
          option = new Option(property_name, property.id, true, true);
          $('.property-filter').append(option);
        });
        $('.property-filter').val('all').trigger('change');

        // Initialize
        displayAllTenancies();

        $('.property-filter').on('select2:select', function (e) {
          if (e.params.data.id == 'all') {
            items = properties;
          } else {
            items = properties.filter(item => item.id == e.params.data.id);
          }
          displayAllTenancies();
        });

        $('.unit-filter').on('select2:select', async function (e) {
          units.map(unit => {
            if (unit.id == e.params.data.id) {
              $('input[name="unit[description]"]').val(unit.description)
              $('input[name="unit[tenants]"]').val(JSON.stringify(unit.tenants))
              $('input[name="unit[start_date]"]').val(moment(unit.start_date).format('DD MMM YY'));
              $('input[name="unit[end_date]"]').val(moment(unit.end_date).format('DD MMM YY'));
              $('#unit_rent_frequency').val(unit.rent_frequency);
              $('#unit_rent_frequency').trigger('change');
              $('input[name="unit[rent_price]"]').val(unit.rent_price);
              $('input[name="unit[deposit]"]').val(unit.deposit);
            }
          })
        });

        $('.tenancy-tab').click(function(e){
          // e.preventDefault();
          const tab = $(this).attr('href').replace('#', '');
          current_list = `.${tab}-tenancies`;
          if (tab == 'all') {
            items = properties;
            allProperties = properties;
          } else if (tab == 'occupied') {
            items = occupiedProperties;
            allProperties = occupiedProperties;
          } else {
            items = vacantProperties;
            allProperties = vacantProperties;
          }
          displayAllTenancies();
        });

        // check url for #vacant to set vacant tab as default
        if (location.hash == '#vacant') {
          $('a[href="#vacant"]').click();
        }
      })
    </script>

  </body>
</html>