<!doctype html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/topnav %>

     <div class="modal  fade" id="modalAddNewUnit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form id="add-unit-form" method="post" action="/property/unit/new/">
          <input type="hidden" name="_csrf" value="<%= token %>">
          <div class="modal-content bg-lighter">
            <div class="modal-header">
                <!-- Header -->
              <h3 class="modal-title" id="unit-modal-title">Add a New Unit</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
    
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Unit Description
                    </label>
                    <input type="text" id="unit_description" name="unit[description]" class="form-control" placeholder="Description" value="" required>
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Deposit
                    </label>
                    <div class="input-group input-group-merge mb-3">
                      <input type="text" id="unit_deposit" onkeypress="return isNumberKey(event)"  name="unit[deposit]" class="form-control form-control-prepended number">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>£</span>
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Start Date
                    </label>
                    <input type="text" id="unit_start_date" name="unit[start_date]" class="form-control" value=""  data-toggle="flatpickr" required>
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      End Date (Optional)
                    </label>
                    <input type="text" id="unit_end_date" name="unit[end_date]" class="form-control" value=""  data-toggle="flatpickr">
                  </div>
    
                </div>
              </div> <!-- / .row -->
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Rent Price
                    </label>
                    <div class="input-group input-group-merge mb-3">
                      <input type="text" id="unit_rent_price" onkeypress="return isNumberKey(event)"  name="unit[rent_price]" class="form-control form-control-prepended number">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>£</span>
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Rent Frequency
                    </label>
                    <select class="form-control" id="unit_rent_frequency" name="unit[rent_frequency]" data-toggle="select" data-options='{"placeholder": "Select a frequency"}' required>
                      <option></option>
                      <option value="Daily">Daily</option>
                      <option value="Weekly">Weekly</option>
                      <option value="Fortnightly">Fortnightly</option>
                      <option value="Monthly">Monthly</option>
                    </select>
                  </div>
    
                </div>
              </div> <!-- / .row -->
              <div class="row">
                <div class="col-12 col-md-6">
                  <button type="submit" class="btn btn-outline-danger d-none btn-unit-delete action-unit">Delete this unit</button>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" id="addUnitBtn">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- NAVIGATION
    ================================================== -->
   
    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">
<!-- 
      @@if (navPosition == 'combo' || demoMode) {
        @@include("partials/topbar.html")
      } -->

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            
            <!-- Header -->
            <div class="header mt-md-5">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">
					  
                    <!-- Title -->
                    <h1 class="header-title">
                      Tenancies
                    </h1>

                  </div>
                  <div class="col-auto">
                    <a href="#" class="btn lift btn-primary">
                      Add tenancy
                    </a>
                  </div>
                </div> <!-- / .row -->
                <div class="row align-items-center">
                  <div class="col">
                    
                    <!-- Nav -->
                    <ul class="nav nav-tabs nav-overflow header-tabs">
                      <li class="nav-item">
                        <a href="#all" data-toggle="tab" role="tab" class="nav-link active">
                          All <span class="badge badge-pill badge-soft-secondary"><%=all_tenancies%></span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="#occupied" data-toggle="tab" role="tab" class="nav-link">
                          Occupied <span class="badge badge-pill badge-soft-secondary"><%=occupied_tenancies%></span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="#vacant" data-toggle="tab" role="tab" class="nav-link">
                          Vacant <span class="badge badge-pill badge-soft-secondary"><%=vacant_tenancies%></span>
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>

            <div class="tab-content">
              <div class="tab-pane fade active show" id="all" role="tabpanel">
                <% properties.map((property, i) => {%>
                <div id="accordion<%=i%>">
                  <div class="card">
                    <div class="card-header bg-light" id="headingOccupied<%=i%>">
                      <div class="row align-items-center">
                        <div class="col">

                          <!-- Search -->
                          <button class="btn btn-link text-body m-0" data-toggle="collapse" data-target="#occupiedCollapse<%=i%>" aria-expanded="true" aria-controls="occupiedCollapse<%=i%>">
                            <h2 class="m-0"><%=property.address%>, <%=property.city%></h2>
                          </button>
                          
                        </div>
                        <div class="col-auto">
                          
                          <!-- Button -->

                          <div class="dropdown">
                            <a href="/property/overview/<%=property.id%>" class="btn btn-sm btn-light lift" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Go to property
                            </a>
                          </div>

                        </div>
                      </div> <!-- / .row -->
                    </div>

                    <div id="occupiedCollapse<%=i%>" class="collapse show" aria-labelledby="headingOccupied<%=i%>" data-parent="#accordion<%=i%>">
                      <div class="card-body">
                          <% property.tenancies.forEach( function(unit){ %>
                          <div class="card">
                            <div class="card-body">
                              <div class="row align-items-center unit-item">
                                <div class="col-auto">
                              
                                  <!-- Avatar -->
                                  <h1 class="mb-0 avatar avatar-md">
                                    <img src="/img/icons/unit.png" class="avatar-img">
                                  </h1>
              
                                </div>
                                <div class="col ml-n2 mr-auto">
              
                                  <!-- Title -->
                                  <h4 class="card-title mb-1">
                                    <a href="/property/overview/<%=property.id%>/units/<%=unit.id%>"><%= unit.description%></a>
                                  </h4>
              
                                  <!-- Time -->
                                  <p class="card-text small text-muted">
                                    <%= unit.start_date%> <%= unit.end_date ? '-' : ''%> <%= unit.end_date%>
                                  </p>
                                </div>
                                <div class="col-auto text-right">
                                  <!-- Title -->
                                  <h4 class="card-title mb-1">
                                    <% if (parseInt(unit.rent_price) > 0) {%>£<%= unit.rent_price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%><%}%>
                                  </h4>
                                  
                                  <!-- Time -->
                                  <p class="card-text small text-muted">
                                    <%= unit.rent_frequency%>
                                  </p>
                                </div>
                                <div class="col-auto">
                                  <a href="#" class="edit-unit" data-unit="<%=JSON.stringify(unit)%>" title="Edit">
                                    <i class="fe fe-chevron-right"></i>
                                  </a>
                                </div>
                              </div> <!-- / .row -->
                                <!-- Divider -->
                            </div>
                          </div>
                        <% })%>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <%})%>
              </div>

              <div class="tab-pane fade" id="occupied" role="tabpanel">
                <% occupied_properties.map((property, i) => {%>
                <div id="accordion_occupied<%=i%>">
                  <div class="card">
                    <div class="card-header bg-light" id="heading2Occupied<%=i%>">
                      <div class="row align-items-center">
                        <div class="col">

                          <!-- Search -->
                          <button class="btn btn-link text-body m-0" data-toggle="collapse" data-target="#occupied2Collapse<%=i%>" aria-expanded="true" aria-controls="occupied2Collapse<%=i%>">
                            <h2 class="m-0"><%=property.address%>, <%=property.city%></h2>
                          </button>
                          
                        </div>
                        <div class="col-auto">
                          
                          <!-- Button -->

                          <div class="dropdown">
                            <button class="btn btn-sm btn-white" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Add Unit
                            </button>
                          </div>

                        </div>
                      </div> <!-- / .row -->
                    </div>

                    <div id="occupied2Collapse<%=i%>" class="collapse show" aria-labelledby="heading2Occupied<%=i%>" data-parent="#accordion_occupied<%=i%>">
                      <div class="card-body">
                        <% property.tenancies.forEach( function(unit){ %>
                          <div class="card">
                            <div class="card-body">
                              <div class="row align-items-center unit-item">
                                <div class="col-auto">
                              
                                  <!-- Avatar -->
                                  <h1 class="mb-0 avatar avatar-md">
                                    <img src="/img/icons/unit.png" class="avatar-img">
                                  </h1>
              
                                </div>
                                <div class="col ml-n2 mr-auto">
              
                                  <!-- Title -->
                                  <h4 class="card-title mb-1">
                                    <a href="#" class="edit-unit" data-unit="<%=JSON.stringify(unit)%>"><%= unit.description%></a>
                                  </h4>
              
                                  <!-- Time -->
                                  <p class="card-text small text-muted">
                                    <%= unit.start_date%> <%= unit.end_date ? '-' : ''%> <%= unit.end_date%>
                                  </p>
                                </div>
                                <div class="col-auto text-right">
                                  <!-- Title -->
                                  <h4 class="card-title mb-1">
                                    <% if (parseInt(unit.rent_price) > 0) {%>£<%= unit.rent_price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%><%}%>
                                  </h4>
                                  
                                  <!-- Time -->
                                  <p class="card-text small text-muted">
                                    <%= unit.rent_frequency%>
                                  </p>
                                </div>
                                <div class="col-auto">
                                  <a href="#" class="edit-unit" data-unit="<%=JSON.stringify(unit)%>" title="Edit">
                                    <i class="fe fe-chevron-right"></i>
                                  </a>
                                </div>
                              </div> <!-- / .row -->
                                <!-- Divider -->
                            </div>
                          </div>
                        <% })%>
                        <% if (property.tenancies.length == 0) { %>
                          <div class="row">
                            <p class="col-12">
                              There is no occupied units for this property.
                            </p>
                          </div>
                        <% }%>
                      </div>
                    </div>
                  </div>
                </div>
                <%})%>
              </div>

              <div class="tab-pane fade" id="vacant" role="tabpanel">
                <% vacant_properties.map((property, i) => {%>
                <div id="accordion_vacant<%=i%>">
                  <div class="card">
                    <div class="card-header bg-light" id="heading3Occupied<%=i%>">
                      <div class="row align-items-center">
                        <div class="col">

                          <!-- Search -->
                          <button class="btn btn-link text-body m-0" data-toggle="collapse" data-target="#occupied3Collapse<%=i%>" aria-expanded="true" aria-controls="occupied3Collapse<%=i%>">
                            <h2 class="m-0"><%=property.address%>, <%=property.city%></h2>
                          </button>
                          
                        </div>
                        <div class="col-auto">
                          
                          <!-- Button -->

                          <div class="dropdown">
                            <button class="btn btn-sm btn-white" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Add Unit
                            </button>
                          </div>

                        </div>
                      </div> <!-- / .row -->
                    </div>

                    <div id="occupied3Collapse<%=i%>" class="collapse show" aria-labelledby="heading3Occupied<%=i%>" data-parent="#accordion_vacant<%=i%>">
                      <div class="card-body">
                        <% property.tenancies.forEach( function(unit){ %>
                          <div class="card">
                            <div class="card-body">
                              <div class="row align-items-center unit-item">
                                <div class="col-auto">
                              
                                  <!-- Avatar -->
                                  <h1 class="mb-0 avatar avatar-md">
                                    <img src="/img/icons/unit.png" class="avatar-img">
                                  </h1>
              
                                </div>
                                <div class="col ml-n2 mr-auto">
              
                                  <!-- Title -->
                                  <h4 class="card-title mb-1">
                                    <a href="#" class="edit-unit" data-unit="<%=JSON.stringify(unit)%>"><%= unit.description%></a>
                                  </h4>
              
                                  <!-- Time -->
                                  <p class="card-text small text-muted">
                                    <%= unit.start_date%> <%= unit.end_date ? '-' : ''%> <%= unit.end_date%>
                                  </p>
                                </div>
                                <div class="col-auto text-right">
                                  <!-- Title -->
                                  <h4 class="card-title mb-1">
                                    <% if (parseInt(unit.rent_price) > 0) {%>£<%= unit.rent_price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%><%}%>
                                  </h4>
                                  
                                  <!-- Time -->
                                  <p class="card-text small text-muted">
                                    <%= unit.rent_frequency%>
                                  </p>
                                </div>
                                <div class="col-auto">
                                  <a href="#" class="edit-unit" data-unit="<%=JSON.stringify(unit)%>" title="Edit">
                                    <i class="fe fe-chevron-right"></i>
                                  </a>
                                </div>
                              </div> <!-- / .row -->
                                <!-- Divider -->
                            </div>
                          </div>
                        <% })%>

                        <% if (property.tenancies.length == 0) { %>
                          <div class="row">
                            <p class="col-12">
                              There is no vacant units for this property.
                            </p>
                          </div>
                        <% }%>
                      </div>
                    </div>
                  </div>
                </div>
                <%})%>
              </div>
            </div>
          </div>
        </div> <!-- / .row -->
		
          </div>
        </div> <!-- / .row -->
		
        </div>
		
      </div>
      
    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    <% include ../partials/scripts %>

  </body>
</html>