<!doctype html>
<html lang="en">
  <head>
      <% include ../partials/head %>

  </head>
  <body>
  <% include ../partials/topnav %>

    <div class="modal  fade" id="modalAddNewTransaction" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="transaction">
        <form id="add-unit-form" class="form-inline" method="post" action="/transaction/create">
          <input type="hidden" name="_csrf" value="<%= token %>">
          <input type="hidden" id="transaction_id" name="transaction[id]" value="">
          <input type="hidden" id="status" name="document[status]" value="upload">
          <input type="hidden" id="document_id" name="document[id]" value="">
          <input type="hidden" id="document_size" name="document[size]" value="">
          <input type="hidden" id="document_mimetype" name="document[mimetype]" value="">
          <input type="hidden" id="document_filename" name="document[filename]" value="">
          <input type="hidden" id="document_path" name="document[path]" value="">
          <div class="modal-content bg-lighter">
            <div class="modal-header">
                <!-- Header -->
              <h3 class="modal-title" id="transaction-modal-title">Add a New Transaction</h3>
              <div class="transaction-type btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                <label class="btn btn-outline-dark active">
                  <input type="radio" name="transaction[type]" value="In" id="income_option" autocomplete="off" checked> Create Income
                </label>
                <label class="btn btn-outline-dark">
                  <input type="radio" name="transaction[type]" value="Out" id="expenses_option" autocomplete="off"> Create Expense
                </label>
              </div>
            </div>
            <div class="modal-body">
    
              <div class="row">
                <div class="col-12 col-md-7">
                  
                  <div class="form-wrapper">
                    <label class="form-label">
                      To/From
                    </label>
                    <div class="col-lg-9 col-sm-12">
                      <input type="text" id="transaction_user" name="transaction[user]" class="form-control w-100 ">
                    </div>
                  </div>

                  <div class="form-wrapper">
                    <label class="form-label">
                      Date
                    </label>
                    <div class="col-lg-9 col-sm-12">
                      <input type="text" id="transaction_created_at" name="transaction[created_at]" class="form-control w-100" value=""  data-toggle="flatpickr" required>
                    </div>
                  </div>

                  <div class="form-wrapper">
                    <label class="form-label">
                      Amount
                    </label>
                    <div class="col-lg-9 col-sm-12">
                      <div class="input-group input-group-merge">
                        <input type="text" id="transaction_amount" onkeypress="return isNumberKey(event)"  name="transaction[amount]" class="form-control form-control-prepended number" required>
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <span>£</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <!-- Start date -->
                  <div class="form-wrapper">
                    <label class="form-label">
                      Properties
                    </label>
                    <div class="col-lg-9 col-sm-12">
                      <select class="form-control" id="transaction_property" name="transaction[property_id]" data-toggle="select"  data-options='{"placeholder": "Select a Property"}' required>
                        <option></option>
                        <% properties.forEach(property => {%>
                        	<option value="<%= property.id%>"><%= property.address%>, <%= property.city%></option>
                        <% }) %>
                      </select>  
                    </div>
                  </div>

                  <div class="form-wrapper">
                    <label class="form-label">
                      Category
                    </label>
                    <div class="col-lg-9 col-sm-12">
                      <select class="form-control" style="min-width: 250px;" name="transaction[category]" id="transaction_category" data-toggle="select" data-options='{"placeholder": "All Categories", "width": "element"}' required>
                        <option></option>
                      </select>  
                    </div>
                  </div>

                  <div class="form-wrapper">
                    <label class="form-label">
                      Account
                    </label>
                    <div class="col-lg-9 col-sm-12">
                      <input type="text" id="transaction_account" name="transaction[account]" class="form-control w-100" value="Manual Transaction" readonly>
                    </div>
                  </div>

                  <div class="form-wrapper">
                    <label class="form-label">
                      Note
                    </label>
                    <div class="col-lg-9 col-sm-12">
                      <textarea id="transaction_note" data-toggle="autosize" rows="2" name="transaction[note]" class="form-control w-100"></textarea>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-5">
                  <div class="dropzone dropzone-multiple">

                    <!-- Fallback -->
                    <div class="fallback">
                      <input type="file" class="custom-file-input" id="customFileUploadMultiple">
                    </div>

                    <div class="dz-message" data-dz-message>
                      <span class="fe fe-download" style="font-size: 2.5rem;"></span>
                      <div>Choose a file or drag it here</div>
                    </div>

                    <!-- Preview -->
                    <ul class="dz-preview dz-preview-multiple list-group list-group-lg list-group-flush">
                      <li class="list-group-item px-0">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <div class="avatar">
                              <img class="avatar-img rounded" src="..." alt="..." data-dz-thumbnail>
                            </div>
                          </div>
                          <div class="col ml-n3">
                            <h4 class="mb-1" data-dz-name>...</h4>
                            <p class="small text-muted mb-0" data-dz-size>...</p>
                          </div>
                          <div class="col-auto">
                            <div class="dropdown">
                              <a href="#" class="dropdown-item" title="Remove file" data-dz-remove>
                                <i class="fe fe-trash"></i>
                              </a>
                            </div>

                          </div>
                        </div>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" id="addTransactionBtn">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

      <!-- HEADER -->
      <div class="header">
        <div class="container">
          
          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-end">
              <div class="col">
                
                <!-- Title -->
                <h1 class="header-title">
                  Transactions
                </h1>
              </div>
              <div class="col-auto">
                <!-- Button -->
                <a href="#" class="btn btn-primary lift" data-toggle="modal" data-target="#modalAddNewTransaction">
                  Add Transaction
                </a>
				
              </div>
            </div> <!-- / .row -->
          </div> 
        </div>
      </div> <!-- / .header -->

      <!-- CONTENT -->
      <div class="container">
        <div class="tab-content">
          <div class="tab-pane fade active show" id="all" role="tabpanel">
            <div class="card" >
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">

                    <div class="row align-items-center">
                      <div class="col-auto pr-0">
                        <span class="fe fe-search text-muted"></span>
                      </div>
                      <div class="col">
                          <input type="search" class="form-control form-control-flush search transaction-all-search" placeholder="Search">
                      </div>
                    </div>
                  
                  </div>
                  <!-- <div class="col-auto">
                  
                    <div class="dropdown">
                      <button class="btn btn-sm btn-white dropdown-toggle" type="button" id="bulkActionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bulk action
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bulkActionDropdown">
                        <a class="dropdown-item bulk-delete-transaction" href="#!">Delete</a>
                      </div>
                    </div>

                  </div > -->
                </div>
              </div>
              <div class="d-flex flex-wrap py-4 px-4 border-bottom">
                <div class="col-auto d-flex align-items-center">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2 d-none">
                    <input type="checkbox" name="tranaction[id]" class="custom-control-input tranaction-checkbox-all" id="customCheck${idx}" value="${transaction.id}">
                    <label class="custom-control-label" for="customCheck${idx}"></label>
                  </div>
                  <button class="btn btn-outline-secondary transaction-multiple-finish-btn mr-sm-2  d-none">Finish</button>
                  <button class="btn btn-outline-secondary transaction-multiple-del-btn d-none">Delete Selected</button>
                  <button class="btn btn-outline-secondary transaction-multiple-btn">Select Multiple</button>
                </div>
                <div class="col-12 col-md-3">
                  <select class="form-control" style="min-width: 350px;" id="propertyFilter" data-toggle="select"  data-options='{"placeholder": "All Properties", "width": "element"}' required>
                      <option></option>
                  </select>  
                </div>
                <div class="col-12 col-md-3">
                  <select class="form-control" style="min-width: 350px;" id="filterByCategory" data-toggle="select"  data-options='{"placeholder": "All Categories", "width": "element"}' required>
                      <option></option>
                  </select> 
                </div>
              </div>
              <div class="transaction-list">
              </div>
            </div>
            <ul class="transactionPagination pagination-md mt-5"></ul>
          </div>
        </div>
      </div>
    </div> <!-- / .row -->
    <!-- JAVASCRIPT
    ================================================== -->
    <input type="hidden" id="hidden_properties" value="<%= JSON.stringify(properties) %>">
    <% include ../partials/scripts %>

    <script type="text/javascript">
      let properties = $('#hidden_properties').val();
      try {
        properties = JSON.parse(properties);
      } catch(e) { properties = [];}

      let items = [];
      let transactions = [];
      const page_cnt = 5;
      let query = ''

      const income_categories = ['Rental Income', 'Uncategorised'];
      const expenses_categories = ['Insurance', 'Repairs & Maintenance', 'Management Fees', 'Utilities', 'Tax', 'Legal', 'Mortgage or Loans', 'Uncategorised'];
      const changeCategorySelection = (list) => {
        $('#transaction_category').empty();
        list.forEach(item => {
            option = new Option(item, item, true, true);
            $('#transaction_category').append(option);
        })
      };

      const setupPagination = () => {
        // $('#documentPagination').empty();
        try {
          const pageCnt = Math.ceil(items.length / page_cnt);
          var visiblePageCnt = Math.min(page_cnt, pageCnt);
          $('.transactionPagination').twbsPagination('destroy');
          $('.transactionPagination').twbsPagination({
              totalPages: pageCnt,
              // the current page that show on start
              startPage: 1,
              // maximum visible pages
              visiblePages: visiblePageCnt,
              initiateStartPageClick: true,
              // template for pagination links
              href: false,
              // variable name in href template for page number
              hrefVariable: '{{number}}',
              // Text labels
              first: '<<',
              prev: 'Prev',
              next: 'Next',
              last: '>>',
              // carousel-style pagination
              loop: false,
              // callback function
              onPageClick: function (event, page) {
                $('.transaction-list .list-group-item').addClass('d-none');
                $('.page'+page).removeClass('d-none');
              },
              // pagination Classes
              paginationClass: 'pagination',
              nextClass: 'next',
              prevClass: 'prev',
              lastClass: 'last',
              firstClass: 'first',
              pageClass: 'page',
              activeClass: 'active',
              disabledClass: 'disabled'
          });
        } catch(e) {}
      }

      const displayTransactions = () => {
        $('.transaction-list').empty();
        items.map( (transaction, idx) => {
          if (idx % page_cnt == 0) { 
            page = (parseInt(idx/page_cnt) + 1)
          } else {
            page = (parseInt(idx/page_cnt) + 1) + ' d-none'
          }
          const sign = parseFloat(transaction.amount) < 0;
          let amount = '£' + transaction.amount.replace('-', '');
          if (sign) {
            amount = '-' + amount;
          }
          let avatar = '<svg style="opacity: 0.7;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><g class="nc-icon-wrapper"><path d="M21,0H3C2.4,0,2,0.4,2,1v22c0,0.6,0.4,1,1,1h18c0.6,0,1-0.4,1-1V1C22,0.4,21.6,0,21,0z M11,9h5v2h-5V9z M9,19H6v-2h3V19z M9,15H6v-2h3V15z M9,11H6V9h3V11z M9,7H6V5h3V7z M15,19h-4v-2h4V19z M18,15h-7v-2h7V15z M18,7h-7V5h7V7z"></path></g></svg>';
          if (transaction.mimetype && transaction.mimetype.includes('image')) {
            avatar = `<img src="/${transaction.path}" alt="document image preview" class="avatar"/>`;
          }
          const val = JSON.stringify(transaction);
          const contact = transaction.user ? transaction.user : 'No Contact';
          $('.transaction-list').append(`
            <div class="transaction-item list-group-item cursor-hand pl-4 pr-5 page${page}" data-val='${val}''>
              <div class="col-auto avatar d-flex align-items-center">
                <div class="custom-control custom-checkbox my-1 mr-sm-2 d-none">
                  <input type="checkbox" name="tranaction[id]" class="custom-control-input tranaction-checkbox" id="customCheck${idx}" value="${transaction.id}">
                  <label class="custom-control-label" for="customCheck${idx}"></label>
                </div>
                <div class="avatar-title rounded bg-white text-secondary">
                  ${avatar}
                </div>  
              </div>
              <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="mb-1">${transaction.created_at}</div>
                <div class="text-muted">Date</div>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="mb-1">${contact}</div>
                <div class="text-muted">Rental Income</div>
              </div>
              <div class="col-lg-4 col-md-5 col-sm-6">
                <div class="mb-1">${transaction.propertyName}</div>
                <div class="text-muted">Property</div>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="mb-1">${transaction.account}</div>
                <div class="text-muted">Account</div>
              </div>
              <div class="ml-auto col-auto">
                <div class="mb-1">${amount}</div>
                <div class="text-muted text-right">Amount</div>
              </div>
            </div>          
          `);
        });
      }

      // fetch transaction data from server
      const fetchTransactions = () => {
        fetch('/transaction/all/get', {method: 'GET'})
          .then(res => res.json())
          .then(res => {
            transactions = res.transactions;
            items = transactions;
            displayTransactions()
            setupPagination();
          })
          .catch(err => {
              console.log(err);
          })
      }

      // initialize the category with income
      changeCategorySelection(income_categories);

    	$(function() {
    		fetchTransactions();

        // Manage massice selection
        $('body').on('change', '#mass_select_all', function() {
          var rows, checked;
          rows = $('#allTable').find('tbody tr');
          checked = $(this).prop('checked');
          $.each(rows, function() {
            var checkbox = $($(this).find('td').eq(0)).find('input').prop('checked', checked);
          });
        });
    	 
        // dropzone image upload
        if (document.querySelector('.dropzone')) {
          Dropzone_init( document.querySelector('.dropzone'));
        }

        // setup properties filter
        var option = new Option('All', 'all', true, true);
        $('#propertyFilter').append(option);
        properties.map(property => {
          var property_name = property.address + ', ' + property.city;
          option = new Option(property_name, property.id, true, true);
          $('#propertyFilter').append(option);
        });
        $('#propertyFilter').val('all').trigger('change');

        $('#propertyFilter').on('select2:select', function (e) {
          if (e.params.data.id == 'all') {
            items = transactions;
          } else {
            items = transactions.filter(item => item.property_id == e.params.data.id);
          }
          displayTransactions();
          setupPagination();
        });

        // multiple selection
        $('.transaction-multiple-btn').click(function() {
          $('.custom-checkbox').removeClass('d-none');
          $('.transaction-multiple-finish-btn').removeClass('d-none');
          $('.transaction-multiple-del-btn').removeClass('d-none');
          $(this).addClass('d-none');
          $('.transaction-item .avatar-title').addClass('d-none');
        })

        $('.transaction-multiple-finish-btn').click(function(){
          $('.transaction-multiple-btn').removeClass('d-none');
          $('.transaction-item .avatar-title').removeClass('d-none');
          $('.custom-checkbox').addClass('d-none');
          $('.transaction-multiple-finish-btn').addClass('d-none');
          $('.transaction-multiple-del-btn').addClass('d-none');
          $('.custom-control-input').prop('checked', false);
        })

        $('.tranaction-checkbox-all').click(function(){
          $('.tranaction-checkbox').click();
        })
      });
    </script>
  </body>
</html>