<!doctype html>
<html lang="en">
  <head>
      <% include ../partials/head %>

  </head>
  <body>
  <% include ../partials/topnav %>

    <div class="modal  fade" id="modalAddNewTransaction" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="transaction">
        <form id="add-transaction-form" class="form-inline" method="post" action="/transaction/create">
          <input type="hidden" name="_csrf" value="<%= token %>">
          <input type="hidden" id="transaction_id" name="transaction[id]" value="">
          <input type="hidden" id="status" name="document[status]" value="upload">
          <input type="hidden" id="document_id" name="document[id]" value="">
          <input type="hidden" id="document_size" name="document[size]" value="">
          <input type="hidden" id="document_mimetype" name="document[mimetype]" value="">
          <input type="hidden" id="document_filename" name="document[filename]" value="">
          <input type="hidden" id="document_path" name="document[path]" value="">
          <div class="modal-content bg-lighter">
            <div class="modal-header">
                <!-- Header -->
              <h3 class="modal-title" id="transaction-modal-title">Add a New Transaction</h3>
              <div class="transaction-type btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                <label class="btn btn-outline-dark active">
                  <input type="radio" name="transaction[type]" value="In" id="income_option" autocomplete="off" checked> Create Income
                </label>
                <label class="btn btn-outline-dark">
                  <input type="radio" name="transaction[type]" value="Out" id="expenses_option" autocomplete="off"> Create Expense
                </label>
              </div>
            </div>
            <div class="modal-body">
    
              <div class="row">
                <div class="col-12 col-md-7">
                  
                  <div class="form-wrapper">
                    <label class="form-label">
                      To/From
                    </label>
                    <div class="col-lg-9 col-sm-12">
                      <input type="text" id="transaction_user" name="transaction[user]" class="form-control w-100 ">
                    </div>
                  </div>

                  <div class="form-wrapper">
                    <label class="form-label">
                      Date
                    </label>
                    <div class="col-lg-9 col-sm-12">
                      <input type="text" id="transaction_created_at" name="transaction[created_at]" class="form-control w-100" value=""  data-toggle="flatpickr" required>
                    </div>
                  </div>

                  <div class="form-wrapper">
                    <label class="form-label">
                      Amount
                    </label>
                    <div class="col-lg-9 col-sm-12">
                      <div class="input-group input-group-merge">
                        <input type="text" id="transaction_amount" onkeypress="return isNumberKey(event)"  name="transaction[amount]" class="form-control form-control-prepended number" required>
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <span>£</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <!-- Start date -->
                  <div class="form-wrapper">
                    <label class="form-label">
                      Properties
                    </label>
                    <div class="col-lg-9 col-sm-12">
                      <select class="form-control property-filter" id="transaction_property" name="transaction[property_id]" data-toggle="select"  data-options='{"placeholder": "Select a Property"}' required>
                        <option></option>
                        <% properties.forEach(property => {%>
                        	<option value="<%= property.id%>"><%= property.address%>, <%= property.city%></option>
                        <% }) %>
                      </select>  
                    </div>
                  </div>

                  <div class="form-wrapper">
                    <label class="form-label">
                      Units
                    </label>
                    <div class="col-lg-9 col-sm-12">
                      <select class="form-control unit-filter" id="transaction_unit" name="transaction[unit]" data-toggle="select" data-options='{"placeholder": "Select a Unit"}'>
                        <option></option>
                      </select>  
                    </div>
                  </div>

                  <div class="form-wrapper">
                    <label class="form-label">
                      Category
                    </label>
                    <div class="col-lg-9 col-sm-12">
                      <select class="form-control" style="min-width: 250px;" name="transaction[category]" id="transaction_category" data-toggle="select" data-options='{"placeholder": "All Categories", "width": "element"}' required>
                        <option></option>
                      </select>  
                    </div>
                  </div>

                  <div class="form-wrapper">
                    <label class="form-label">
                      Account
                    </label>
                    <div class="col-lg-9 col-sm-12">
                      <input type="text" id="transaction_account" name="transaction[account]" class="form-control text-muted w-100" value="Manual Transaction" readonly>
                    </div>
                  </div>

                  <div class="form-wrapper">
                    <label class="form-label">
                      Status
                    </label>
                    <div class="col-lg-9 col-sm-12">
                      <select class="form-control" style="min-width: 250px;" name="transaction[status]" id="transaction_status" data-toggle="select" data-options='{"placeholder": "Status", "width": "element"}' required>
                        <option></option>
                        <option value="Paid">Paid</option>
                        <option value="Due">Due</option>
                      </select>  
                    </div>
                  </div>

                  <div class="form-wrapper">
                    <label class="form-label">
                      Note
                    </label>
                    <div class="col-lg-9 col-sm-12">
                      <textarea id="transaction_note" data-toggle="autosize" rows="2" name="transaction[note]" class="form-control w-100"></textarea>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-5">
                  <div class="dropzone dropzone-multiple">

                    <!-- Fallback -->
                    <div class="fallback">
                      <input type="file" class="custom-file-input" id="customFileUploadMultiple">
                    </div>

                    <div class="dz-message" data-dz-message>
                      <span class="fe fe-download" style="font-size: 2.5rem;"></span>
                      <div>Choose a file or drag it here</div>
                    </div>

                    <!-- Preview -->
                    <ul class="dz-preview dz-preview-multiple list-group list-group-lg list-group-flush">
                      <li class="list-group-item px-0">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <div class="avatar">
                              <img class="avatar-img rounded" src="..." alt="..." data-dz-thumbnail>
                            </div>
                          </div>
                          <div class="col ml-n3">
                            <h4 class="mb-1" data-dz-name>...</h4>
                            <p class="small text-muted mb-0" data-dz-size>...</p>
                          </div>
                          <div class="col-auto">
                            <div class="dropdown">
                              <a href="#" class="dropdown-item" title="Remove file" data-dz-remove>
                                <i class="fe fe-trash"></i>
                              </a>
                            </div>

                          </div>
                        </div>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" id="addTransactionBtn">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

      <!-- HEADER -->
      <div class="header">
        <div class="container">
          
          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-end">
              <div class="col">
                
                <!-- Title -->
                <h1 class="header-title">
                  Transactions
                </h1>
              </div>
              <div class="col-auto">
                <!-- Button -->
                <a href="#" class="btn btn-primary lift" data-toggle="modal" data-target="#modalAddNewTransaction">
                  Add Transaction
                </a>
				
              </div>
            </div> <!-- / .row -->
          </div> 
        </div>
      </div> <!-- / .header -->

      <!-- CONTENT -->
      <div class="container">
        <div class="tab-content">
          <div class="tab-pane fade active show" id="all" role="tabpanel">
            <div class="card" >
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">

                    <div class="row align-items-center">
                      <div class="col-auto pr-0">
                        <span class="fe fe-search text-muted"></span>
                      </div>
                      <div class="col">
                          <input type="search" class="form-control form-control-flush search transaction-all-search" placeholder="Search">
                      </div>
                    </div>
                  
                  </div>
                  <!-- <div class="col-auto">
                  
                    <div class="dropdown">
                      <button class="btn btn-sm btn-white dropdown-toggle" type="button" id="bulkActionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bulk action
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bulkActionDropdown">
                        <a class="dropdown-item bulk-delete-transaction" href="#!">Delete</a>
                      </div>
                    </div>

                  </div > -->
                </div>
              </div>
              <div class="d-flex flex-wrap py-4 px-4 border-bottom">
                <div class="col-auto d-flex align-items-center">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2 d-none">
                    <input type="checkbox" name="tranaction[id]" class="custom-control-input tranaction-checkbox-all" id="customCheck${idx}" >
                    <label class="custom-control-label" for="customCheck${idx}"></label>
                  </div>
                  <button class="btn btn-outline-secondary transaction-multiple-finish-btn mr-sm-2  d-none">Finish</button>
                  <button class="btn btn-outline-secondary d-none" id="manageTransactions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage transactions | <span class="selectedItems">0</span></button>
                   <div class="dropdown-menu transaction-dropdown" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item transaction-multiple-paid-btn">Mark as Paid</button>
                    <button class="dropdown-item transaction-multiple-del-btn">Delete</button>
                  </div>
                  <button class="btn btn-outline-secondary transaction-multiple-btn">Select Multiple</button>
                </div>
                <div class="col-12 col-md-3">
                  <select class="form-control" style="min-width: 350px;" id="propertyFilter" data-toggle="select"  data-options='{"placeholder": "All Properties", "width": "element"}' required>
                      <option></option>
                  </select>  
                </div>
                
                <div class="col-12 col-md-3">
                  <select class="form-control" style="min-width: 350px;" id="categoryFilter" data-toggle="select"  data-options='{"placeholder": "All Categories", "width": "element"}' required>
                      <option></option>
                      <option value="All">All Categories</option>
                      <optgroup label="Income">
                        <option value="Rental Income">Rental Income</option>
                        <option value="Deposit">Deposit</option>
                        <option value="Uncategorised">Uncategorised</option>
                      </optgroup>
                      <optgroup label="Expenses">
                        <option value="Insurance">Insurance</option>
                        <option value="Repairs & Maintenance">Repairs & Maintenance</option>
                        <option value="Management Fees">Management Fees</option>
                        <option value="Utilities">Utilities</option>
                        <option value="Tax">Tax</option>
                        <option value="Legal">Legal</option>
                        <option value="Mortgage or Loans">Mortgage or Loans</option>
                        <option value="Deposit">Deposit</option>
                        <option value="Uncategorised">Uncategorised</option>
                      </optgroup>
                  </select> 
                </div>
              </div>
              <div class="transaction-list">
              </div>
            </div>
            <ul class="transactionPagination pagination-md mt-5"></ul>
          </div>
        </div>
      </div>
    </div> <!-- / .row -->
    <!-- JAVASCRIPT
    ================================================== -->
    <input type="hidden" id="hidden_properties" value="<%= JSON.stringify(properties) %>">
    <% include ../partials/scripts %>

    <script type="text/javascript">
      let properties = $('#hidden_properties').val();
      try {
        properties = JSON.parse(properties);
      } catch(e) { properties = [];}

      let query = ''

      const income_categories = ['Rental Income', 'Deposit', 'Uncategorised'];
      const expenses_categories = ['Insurance', 'Repairs & Maintenance', 'Management Fees', 'Utilities', 'Tax', 'Legal', 'Mortgage or Loans', 'Deposit', 'Uncategorised'];
      const changeCategorySelection = (list) => {
        $('#transaction_category').empty();
        list.forEach(item => {
            option = new Option(item, item, true, true);
            $('#transaction_category').append(option);
        })
      };

      // initialize the category with income
      changeCategorySelection(income_categories);

    	$(function() {
    		fetchTransactions();

        $('input[name="transaction[type]"]').change(function(){
          if ($(this).val() == "In") {
            changeCategorySelection(income_categories);
          } else {
            changeCategorySelection(expenses_categories);
          }
        });

        // dropzone image upload
        if (document.querySelector('.dropzone')) {
          Dropzone_init( document.querySelector('.dropzone'));
        }

        // setup properties filter
        var option = new Option('All Properties', 'All', true, true);
        $('#propertyFilter').append(option);
        properties.map(property => {
          var property_name = property.address + ', ' + property.city;
          option = new Option(property_name, property.id, true, true);
          $('#propertyFilter').append(option);
        });
        $('#propertyFilter').val('All').trigger('change');

        $('#propertyFilter').on('select2:select', function (e) {
          if (e.params.data.id == 'All') {
            items = transactions;
          } else {
            items = transactions.filter(item => item.property_id == e.params.data.id);
          }
          displayTransactions();
          setupPagination();
        });

        // multiple selection
        $('.transaction-multiple-btn').click(function() {
          $('.custom-checkbox').removeClass('d-none');
          $('.transaction-multiple-finish-btn').removeClass('d-none');
          $('#manageTransactions').removeClass('d-none');
          $(this).addClass('d-none');
          $('.transaction-item .avatar-title').addClass('d-none');
        })

        $('.transaction-multiple-finish-btn').click(function(){
          $('.transaction-multiple-btn').removeClass('d-none');
          $('.transaction-item .avatar-title').removeClass('d-none');
          $('.custom-checkbox').addClass('d-none');
          $('.transaction-multiple-finish-btn').addClass('d-none');
          $('#manageTransactions').addClass('d-none');
          $('.custom-control-input').prop('checked', false);
        })

        $('.tranaction-checkbox-all').click(function(e){
          if ($('.tranaction-checkbox-all:checked').length) {
            $('.tranaction-checkbox').prop('checked', true);
            $('#manageTransactions').addClass('active')
          } else {
            $('.tranaction-checkbox').prop('checked', false);
            $('#manageTransactions').removeClass('active')
          }
          $(".selectedItems").html($('.tranaction-checkbox:checked').length);
        });

        $(document).on('click', '.tranaction-checkbox', function() {
          $(".selectedItems").html($('.tranaction-checkbox:checked').length);
          if ($('.tranaction-checkbox:checked').length) {
            $('#manageTransactions').addClass('active')
          } else {
            $('#manageTransactions').removeClass('active')
          }
        })
      });
    </script>
  </body>
</html>