<!doctype html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body>
  <%- include('../partials/sidebar', {path}) %>

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">
      <%- include('../partials/topbar') %>
      
      <!-- HEADER -->
      <div class="header">
        
        <div class="container">

          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">

              <div class="col ml-n3 ml-md-n2">
                
                <!-- Pretitle -->
                <p>
                  <a href="/services" class="btn btn-white">
					  <i class="fe fe-corner-up-left mr-1"></i>
					  Back to services
				  </a>
                </p>

                <!-- Title -->
                <h1 class="header-title">
                  Analytics by PropertyData
                </h1>
				
                <!-- Text -->
                <p class="card-text text-muted mb-1">
                  Get access to real time analytics powered by PropertyData. All you have to do is provide some basic details about your property and you will start receiving monthly valuation updates, rent estimates, yield comparisons, and more.
                </p>

              </div>

            </div> <!-- / .row -->

          </div> <!-- / .header-body -->

        </div>

      </div> <!-- / .header -->
      
      <!-- CONTENT -->
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-8">
            
            <% properties.forEach(property => { 
              if (property.estimate_cron_on) {
            %>
              <!-- Card -->
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row align-items-center">

                    <div class="col ml-n2">
                      
                      <!-- Title -->
                      <h4 class="card-title mb-1">
                        <a href="/property/overview/<%=property.id%>"><%=property.address + ', ' + property.city%></a>
                      </h4>

                      <!-- Status -->
                      <p class="card-text small">
                        <span class="text-success">●</span> Active
                      </p>

                    </div>
                    <div class="col-auto">
                      
                      <!-- Button -->
                      <a href="/property/overview/<%=property.id%>" class="btn btn-sm btn-light d-none d-md-inline-block">
                        View property
                      </a>

                    </div>
                    <!-- <div class="col-auto">
                      <div class="dropdown">
                        <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                          <i class="fe fe-more-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="#!" class="dropdown-item">
                            View Property
                          </a>
                        </div>
                      </div>
                    </div> -->
                  </div> 
                </div> 
              </div>
            <% } })  %>

            <% properties.forEach(property => { 
              if (!property.estimate_cron_on) {
            %>
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row align-items-center">

                    <div class="col ml-n2">
                      
                      <!-- Title -->
                      <h4 class="card-title mb-1">
                        <a href="/property/overview/<%=property.id%>"><%=property.address + ', ' + property.city%></a>
                      </h4>

                      <!-- Status -->
                      <p class="card-text small">
                        <span class="text-light">●</span> Inactive
                      </p>

                    </div>
                    <div class="col-auto">
                      
                      <!-- Button -->
                      <a href="#!" data-property="<%=JSON.stringify(property) %>" class="btn btn-sm btn-danger d-none d-md-inline-block service-update-details">
                        Update Details
                      </a>

                    </div>
                   <!--  <div class="col-auto">
                      <div class="dropdown">
                        <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                          <i class="fe fe-more-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="#!" class="dropdown-item">
                            View Property
                          </a>
                        </div>
                      </div>
                    </div> -->
                  </div> <!-- / .row -->
                </div> <!-- / .card-body -->
              </div>
            <% } }) %>
           
          </div>
          
          <div class="col-12 col-xl-4">
            <!-- Card -->
            <div class="card">
              <div class="card-body">

                <div class="row align-items-center">
				          <div class="col">

                    <h6 class="text-uppercase text-muted">
                      Cost of service:
                    </h6>

                    <div class="my-4">
                      <span class="h1 mb-0 text-success">£0</span> <span class="h5 text-muted mb-2"> /month</h6>
                    </div>
									  <div class="text-muted">This service is included with your subscription</div>
                  </div>	
                </div>
              </div>
            </div>

          </div>
        </div> 
      </div>

    </div> 

    <!-- JAVASCRIPT
    ================================================== -->
    <% include ../partials/scripts %>

  </body>
</html>